.di_2_of_2 {
  padding: 10px;
  color: black;
  overflow-y: auto;
  margin: 5px 5px 5px 5px !important;
  width: 98.5% !important;
  margin: 0 auto !important;
}

 img{
  width: 300px;
  height: 180px;
  padding: 10px;
  background: white;
  position: relative;
  }

 h3{
  width: 100%;
  float: left;
  text-align: center;
  color: black;
  right: 3%;
  top: 130px;
  font-size: 20px;
  overflow: hidden;
  }

strong {
color: black;
  font-size: 13px;
  font-weight: 700;
  margin-left: -15px;
  padding-bottom: 3px;
}


.di_2_of_3 {
  margin: 0 auto !important;
  margin-top: 5% !important;
  float: none !important;

}


ul{
  padding:15px;
}
.li{
    color: #000000;
  list-style-type: square;
}

.t-name{
    border: 1px solid gray;
  width: 100%;
  padding: 15px;
  background: rgb(210, 210, 210);
  font-size: 19px;
  /* color: white; */
  font-weight: 500;
  text-align: left;
  line-height: 1em;

}

.desc{
    padding: 10px;
  text-indent: 15px;
}

section.container{
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
  width: 80%;
}

.btn-holder{
  padding-top: 5%; 
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.img-holder{

}

h4{
  text-align: center; 
  font-family: inherit;
  font-weight: 500;
  font-size: 2em;
  line-height: 1.2em;
}