/*=== Change the screen size ===*/
@media only screen and (min-width: 1200px) {
    div.culmn {
        width: 1220px;
        margin: 0 auto;
    }
    nav#nav {
        width: 1220px;
        margin-top: -5em ;
    }
}

@media (max-width: 1200px) {
    div.culmn {
        width: 100%;
    }
    nav#nav {
        width: 100%;
        margin-top: -5em;
    }
}


@media only screen (min-width: 353px) {
    div.culmn {
        width: 100%;
    }
    nav#nav {
        width: 100%;
        margin-top: -5em ;
    }
}
@media(min-width: 768px) {
  
}
@media (max-width: 1076px) {
  
}
@media (max-width: 855px) {
  
}
@media (max-width: 691px) {
  
}
@media (max-width: 591px) {
 
}
@media (max-width: 485px) {
  
}
@media (max-width: 385px) {
  
}