#content {
    padding-top: 2.5rem;
    margin-bottom: 5.625rem;
}

.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 73.125rem;
}
.row:before, .row:after {
    content: " ";
    display: table;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (min-width: 64.063em){
.large-12 {
    width: 100%;
}
.large-6 {
    width: 50%;
}
.column, .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}
}
@media only screen and (min-width: 48.063em){
.column, .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}
.medium-12 {
    width: 100%;
}
.medium-6 {
    width: 50%;
}
}
.column, .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}
.column, .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}
.page-title {
    position: relative;
    margin-bottom: 4.0625rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #ababab;
}

.page-title {
    position: relative;
    margin-bottom: 4.0625rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #ababab;
}

.page-title h1 {
    font-family: Montserrat, sans-serif;
    color: #004887;
}

.page-title h1 {
    color: #bebebe;
    margin-bottom: 0.3125rem;
    line-height: 1;
    letter-spacing: 1px;
    font-family: "Hind";
    font-size: 2.125rem;
    font-weight: 600;
}
.page-title h1 {
    color: #bebebe;
    margin-bottom: 0.3125rem;
    line-height: 1;
    letter-spacing: 1px;
    font-family: "Hind";
    font-size: 2.125rem;
    font-weight: 600;
}
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.row .row {
    width: auto;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
}

.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 73.125rem;
}
.row .row:before, .row .row:after {
    content: " ";
    display: table;
}

.row:before, .row:after {
    content: " ";
    display: table;
}
.section .relative {
    position: relative;
    z-index: 1;
}
.post.post-classic:not(.border) {
    border: none;
}

.post-list .post.post-classic {
    margin-bottom: 1.25rem;
}
.animated .elementFadeRun {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.post {
    position: relative;
    background-color: transparent;
    padding-bottom: 1.25rem;
    margin-bottom: 3.125rem;
    border-bottom: 3px solid #262626;
}
.post .entry-media {
    position: relative;
    margin-bottom: 1.25rem;
}
.post .image-post {
    position: relative;
    overflow: hidden;
    margin-bottom: 1.25rem;
}

.item-overlay {
    position: relative;
    display: block;
    background-color: #272729;
    text-align: center;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.35s ease, opacity 0.35s ease;
    -moz-transition: -moz-transform 0.35s ease, opacity 0.35s ease;
    -ms-transition: transform 0.35s ease, opacity 0.35s ease;
    transition: transform 0.35s ease, opacity 0.35s ease;
}
.item-overlay img {
    -webkit-transform: none;
    transform: none;
    -webkit-transition: none;
    transition: none;
    opacity: 1;
}

.post .entry-footer .cat-links a, .post .entry-header .cat-links a, .widget.widget_latest_tweets li .tweet a {
    color: #CA1042 !important;
}
.right, #bbpress-forums .bbp-breadcrumb + #subscription-toggle {
    float: right !important;
}
.entry-meta-content, .widget.widget_recent_posts .tabs-container .tab-content .recent-post .entry-meta .posted-on, .widget.widget_recent_posts .tabs-container .tab-content .recent-post .entry-meta .comments-link, .post .entry-footer .cat-links, .post .entry-header .cat-links, .post .entry-footer .posted-on, .post .entry-header .posted-on, .post .entry-footer .comments-link, .post .entry-header .comments-link, .post .entry-footer .byline, .post .entry-header .byline, .post .entry-footer .like-qty, .post .entry-header .like-qty, .post .entry-footer .tags-links, .post .entry-header .tags-links {
    position: relative;
    display: inline-block;
    margin-right: 0.3125rem;
    padding-left: 0.9375rem;
    font-family: "Roboto", sans-serif;
    font-size: 0.75rem;
    color: #bebebe;
    line-height: 1;
    -webkit-transition: color 0.35s ease;
    -moz-transition: color 0.35s ease;
    -ms-transition: color 0.35s ease;
    transition: color 0.35s ease;
}