/*! CSS Used from: https://www.potomacofficersclub.com/assets/cssv2/slick/slick.css */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-slide img {
    display: block;
}

.slick-initialized .slick-slide {
    display: block;
    outline: none;
}


/*! CSS Used from: https://www.potomacofficersclub.com/assets/cssv2/slick/slick-theme.css */

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}


/*! CSS Used from: https://www.potomacofficersclub.com/assets/cssv2/animate.css */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}


/*! CSS Used from: https://www.potomacofficersclub.com/assets/cssv2/iconfont.css */

.icon {
    font-family: 'bootstrapThemesCo-icon'!important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
    content: "\e875";
}

.icon-chevron-right:before {
    content: "\e876";
}


/*! CSS Used from: https://www.potomacofficersclub.com/assets/cssv2/font-awesome.min.css */

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.fa-twitter:before {
    content: "\f099";
}

.fa-facebook:before {
    content: "\f09a";
}

.fa-linkedin:before {
    content: "\f0e1";
}

.fa-instagram:before {
    content: "\f16d";
}


/*! CSS Used from: https://www.potomacofficersclub.com/assets/cssv2/bootstrap.min.css */

body {
    margin: 0;
}

footer,
nav,
section {
    display: block;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

b {
    font-weight: 700;
}

img {
    border: 0;
}

hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

button {
    margin: 0;
    font: inherit;
    color: inherit;
}

button {
    overflow: visible;
}

button {
    text-transform: none;
}

button {
    -webkit-appearance: button;
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

@media print {
    *,
    :before,
    :after {
        color: #000!important;
        text-shadow: none!important;
        background: transparent!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    a[href^="#"]:after {
        content: "";
    }
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100%!important;
    }
    p,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h3 {
        page-break-after: avoid;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #23527c;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

img {
    vertical-align: middle;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

h3,
h4,
h5 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4,
h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

p {
    margin: 0 0 10px;
}

.text-center {
    text-align: center;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
}

ul ul {
    margin-bottom: 0;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-3,
.col-sm-4,
.col-md-4,
.col-md-6,
.col-md-8,
.col-md-9,
.col-xs-12,
.col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

@media (min-width:768px) {
    .col-sm-4 {
        float: left;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
}

@media (min-width:992px) {
    .col-md-3,
    .col-md-4,
    .col-md-6,
    .col-md-8,
    .col-md-9,
    .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn:focus,
.btn:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none;
}

.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-primary:active {
    background-image: none;
}

@media (min-width:768px) {
    .navbar-header {
        float: left;
    }
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}

.navbar-brand>img {
    display: block;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after,
.navbar-header:before,
.navbar-header:after {
    display: table;
    content: " ";
}

.clearfix:after,
.container:after,
.row:after,
.navbar-header:after {
    clear: both;
}

.hidden {
    display: none!important;
    visibility: hidden!important;
}


/*! CSS Used from: https://www.potomacofficersclub.com/assets/cssv2/magnific-popup.css */

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}


/*! CSS Used from: https://www.potomacofficersclub.com/assets/cssv2/bootsnav.css */

body {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

@media (max-width:992px) {
    body>.wrapper {
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
}


/*! CSS Used from: https://www.potomacofficersclub.com/assets/cssv2/sidebar.css */

.widget.widget_metro_style {
    margin-bottom: 1.25rem;
}

.widget.widget_metro_style .metro_container {
    margin: -0.625rem;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
}

.widget.widget_metro_style .metro_container li {
    overflow: hidden;
    -webkit-box-flex: 1 1 160px;
    -moz-box-flex: 1 1 160px;
    -webkit-flex: 1 1 160px;
    -ms-flex: 1 1 160px;
    flex: 1 1 160px;
    position: relative;
    margin: 0.625rem;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.5s linear;
    -moz-transition: -moz-transform 0.5s linear;
    -ms-transition: transform 0.5s linear;
    transition: transform 0.5s linear;
}

.widget.widget_metro_style .metro_container li:hover {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

.widget.widget_metro_style .metro_container li a {
    display: table;
    padding: 1.25rem;
    position: relative;
    width: 100%;
    height: 145px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.875rem;
    overflow: hidden;
    line-height: 1.3;
}

.widget.widget_metro_style .metro_container li a span,
.widget.widget_metro_style .metro_container li a i {
    width: 100%;
    position: relative;
    z-index: 1;
    opacity: 0;
    font-style: normal;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    -webkit-transform: translate(-50%, -50%) scale(5);
    -moz-transform: translate(-50%, -50%) scale(5);
    -o-transform: translate(-50%, -50%) scale(5);
    -ms-transform: translate(-50%, -50%) scale(5);
    transform: translate(-50%, -50%) scale(5);
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
    -ms-transition: transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.widget.widget_metro_style .metro_container li a i {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 2;
    padding: 1.25rem;
}

.widget.widget_metro_style .metro_container li a:hover:before {
    width: 100%;
    height: 100%;
    font-size: 15rem;
    opacity: 0;
}

.widget.widget_metro_style .metro_container li a:hover span,
.widget.widget_metro_style .metro_container li a:hover i {
    opacity: 1;
}

.widget.widget_metro_style .metro_container li a:hover i {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

.widget.widget_metro_style .metro_container li a:hover[class^="icon-"] span {
    opacity: 0;
}

.widget.widget_metro_style .metro_container li a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 145px;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
    font-family: 'fontello';
    font-size: 3.125rem;
    -webkit-transition: font-size 0.5s ease, opacity 0.5s ease;
    -moz-transition: font-size 0.5s ease, opacity 0.5s ease;
    -ms-transition: font-size 0.5s ease, opacity 0.5s ease;
    transition: font-size 0.5s ease, opacity 0.5s ease;
}


/*! CSS Used from: https://www.potomacofficersclub.com/assets/fontello/css/fontello.css */

a[class^=icon-]:before {
    font-family: fontello;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-calendar-1:before {
    content: '\e801';
}

.icon-user-1:before {
    content: '\e803';
}

.icon-clipboard-2:before {
    content: '\e808';
}

.icon-newspaper:before {
    content: '\f1ea';
}


/*! CSS Used from: https://www.potomacofficersclub.com/assets/cssv2/style-new.css */

.overlay {
    top: 0;
    left: 0;
    position: absolute;
}

.culmn,
.fix,
.head_title,
section {
    overflow: hidden;
}

body {
    font-size: 14px;
    color: #797979;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
    width: 100%;
    font-family: Raleway, sans-serif;
}

h3,
h4,
h5,
li,
p {
    font-weight: initial!important;
    font-style: initial!important;
}

.roomy-80 {
    padding-top: 100px;
    padding-bottom: 80px;
}

.text-white {
    color: #fff!important;
}

.bg-mega {
    background-color: #1b1b1b;
}

.bg-black {
    background-color: #222;
}

li,
p {
    font-family: AvenirNextLTPro-Cn!important;
    font-size: 15px;
}

h3,
h4,
h5 {
    font-family: AvenirNextLTPro-DemiCn!important;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -user-select: none;
    -webkit-user-drag: none;
    -user-drag: none;
    max-width: 100%;
}

a,
a:active,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
}

a,
a span,
button {
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

a {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.btn:active,
.btn:focus {
    outline: inherit;
}

*,
:after,
:before {
    box-sizing: border-box;
}

p {
    margin: 0 0 15px;
    line-height: 1.5rem;
}

h3,
h4,
h5 {
    margin: 0 0 10px;
    font-family: Raleway, sans-serif;
    color: #1a1a1a;
}

h3 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
}

h5 {
    font-size: 1.125rem;
    line-height: 1.575rem;
}

h3 span {
    color: #0079d7;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.overlay {
    background-color: rgba(41, 39, 34, .5);
    width: 100%;
    height: 100%;
}

.btn {
    -webkit-transition: all .6s;
    transition: all .6s;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid;
    padding: 1rem 4rem;
}

.btn-primary {
    color: #fff;
    background-color: #134a69;
    border: 1px solid #134a69;
}

.m-top-20 {
    margin-top: 20px;
}

.m-top-80 {
    margin-top: 80px;
}

.p-bottom-30 {
    padding-bottom: 1.875rem;
}

.p-top-40 {
    padding-top: 2.66rem;
}

.p-top-80 {
    padding-top: 5.714rem;
}

.culmn {
    width: 100%;
}

.head_title {
    padding-bottom: 2.143rem;
}

.navbar-brand {
    padding: 25px 15px;
}

.navbar-brand>img {
    display: block;
    width: 80%;
}

.home {
    background-size: cover;
    position: relative;
    width: 100%;
}

.main_home .home_text h3 {
    font-size: 24px;
    font-weight: 400;
}

.main_home .slick-dots li button::before {
    font-family: slick;
    font-size: 8px;
    line-height: 7px;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    content: "";
    text-align: center;
    opacity: .9;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
}

.main_home .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
}

.main_home .slick-dots li.slick-active button:before {
    opacity: 1;
    background-color: #0079d7;
}

.main_home .slick-dots {
    bottom: -200px;
}

.main_home .slick-arrow {
    font-size: 3rem;
    color: #fff;
    top: 30%;
    position: absolute;
    z-index: 90;
    cursor: pointer;
}

.main_home .nextprevleft {
    left: 0;
}

.main_home .nextprevright {
    right: 0;
}

.action-lage {
    position: relative;
    width: 100%;
}

.action-lage:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #fff;
    left: 50%;
    top: 0;
    z-index: 3;
    margin-left: -15px;
}

hr {
    width: 100%;
}

hr {
    clear: both;
    display: block;
    height: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-style: solid;
    border-color: #080808;
    position: relative;
    padding: 0;
    margin: 0 0 25px;
    float: none;
}

section {
    margin-top: 30px;
}

.widget.widget_upcoming_events ul li .event-container {
    position: relative;
    min-height: 4.0625rem;
    padding: .625rem 1.25rem;
    background-color: #f5f5f5;
}

.widget.widget_upcoming_events ul li .event-container .event-date {
    position: relative;
    display: grid;
    float: left;
    text-align: center;
    top: -14px;
    left: -20px;
    width: 70px;
    height: 70px;
    padding-top: .875rem;
    font-size: 2rem;
    color: #fff;
    line-height: 1;
    background-color: #134a69;
    opacity: .9;
    z-index: 1;
}

.widget.widget_upcoming_events ul li .event-container .event-date:after {
    position: absolute;
    top: 0;
    right: -4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 0 4px;
    border-color: transparent transparent transparent #000;
    content: "";
}

.widget.widget_upcoming_events ul li .event-container .event-media .event-content .event-title {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
}

.widget.widget_upcoming_events ul li .event-container .event-media .event-content .event-title a {
    color: #262626;
}

.clearfix:after,
.widget.widget_upcoming_events ul li:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: ".";
}

.widget {
    margin-bottom: 1.875rem;
}

#sidebar .widget .widget-title {
    background-color: #f5f5f5;
    color: #000;
    padding: .9375rem 1.25rem;
}

.widget .widget-title,
button {
    font-family: Montserrat;
}

.widget .widget-title {
    text-transform: uppercase;
    color: #f2f2f2;
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    font-weight: 400;
}

.clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: ".";
}

.animated .elementFadeRun {
    opacity: 1;
    -webkit-transition: -webkit-transform .5s ease, opacity .5s ease;
    transition: transform .5s ease, opacity .5s ease;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/*! CSS Used from: https://www.potomacofficersclub.com/assets/cssv2/media-screen.css */

@media only screen and (min-width: 1200px) {
    div.culmn {
        width: 1220px;
        margin: 0 auto;
    }
    nav#nav {
        width: 1220px;
        padding-left: 5%;
    }
}

@media (max-width: 1200px) {
    div.culmn {
        width: 100%;
    }
    nav#nav {
        width: 100%;
        padding-left: 5%;
    }
}

@media only screen and (max-width: 1240px) and (min-width: 353px) {
    div.culmn {
        width: 100%;
    }
    nav#nav {
        width: 100%;
        padding-left: 5%;
    }
}


/*! CSS Used from: https://www.potomacofficersclub.com/assets/cssv2/responsive.css */

@media (min-width:992px) and (max-width:1199px) {
    body {
        font-size: 1rem;
    }
}

@media (max-width:991px) {
    .sm-m-top-50 {
        margin-top: 50px;
    }
}

@media (max-width:768px) {
    p {
        font-size: 90%;
        line-height: 2rem;
    }
    .main_home .home_text h3 {
        font-size: 18px;
    }
}

@media (max-width:479px) {
    .main_home .home_text h3 {
        font-size: 17px;
    }
}


/*! CSS Used from: Embedded */

#home1 img {
    width: 100%;
    height: auto;
}


/*! CSS Used from: Embedded */

#nav {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    position: absolute;
    top: 7em;
    padding-left: 10%;
    margin-top: 2em;
    padding-bottom: 5px;
    border-bottom: 1px solid #134a69;
}

#nav > a {
    display: none;
}

#nav li {
    position: relative;
}

#nav li a {
    color: #000;
    display: block;
}

#nav #sub li a {
    color: #fff;
    display: block;
}

#nav #sub li a:active {
    color: #fff;
    display: block;
}

#nav li a:active {
    background-color: #134a69!important;
    color: white;
}

#nav span:after {
    width: 0;
    height: 0;
    border: 0.313em solid transparent;
    border-bottom: none;
    border-top-color: #cddee6;
    content: '';
    vertical-align: middle;
    display: inline-block;
    position: relative;
    right: -15%;
}

#nav > ul {
    height: 3em;
}

#nav > ul > li {
    width: 14%;
    height: 100%;
    float: left;
}

#nav > ul > li > a {
    height: 100%;
    font-size: 1.5em;
    line-height: 1.8em;
    text-align: center;
}

#nav > ul > li:not(:last-child) > a {
    border-right: 1px solid #134a69;
}

#nav > ul > li:hover > a {
    background-color: #134a69;
    color: white;
}

#nav li ul {
    background-color: #134a69;
    display: none;
    position: absolute;
    top: 100%;
    z-index: 9999;
}

#nav li:hover ul {
    display: block;
    left: 0;
    right: 0;
}

#nav li:not(:first-child):hover ul {
    left: -1px;
}

#nav li ul a {
    font-size: 1.25em;
    border-top: 1px solid #134a69;
    padding: 0.75em;
}

#nav li ul li a:hover {
    background-color: #3a6579;
}

@media only screen and ( max-width: 62.5em) {
    div .div-logo-img {
        height: 3em!important;
    }
    div .div-logo-img img {
        height: auto!important;
        width: 7em!important;
    }
    #small-logo {
        display: none!important;
    }
    #nav {
        position: relative;
        top: auto;
        left: auto;
    }
    #nav > a {
        width: 3.125em;
        height: 3.125em;
        text-align: left;
        text-indent: -9999px;
        background-color: rgba(19, 74, 102, 1);
        position: relative;
    }
    #nav > a:before,
    #nav > a:after {
        position: absolute;
        border: 2px solid #fff;
        top: 35%;
        left: 25%;
        right: 25%;
        content: '';
    }
    #nav > a:after {
        top: 60%;
    }
    #nav:not(:target) > a:first-of-type,
    #nav:target > a:last-of-type {
        display: block;
    }
    #nav > ul {
        height: auto;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 9999;
        background: white;
    }
    #nav:target > ul {
        display: block;
    }
    #nav > ul > li {
        width: 100%;
        float: none;
    }
    #nav > ul > li > a {
        height: auto;
        text-align: left;
        padding: 0 0.833em;
    }
    #nav > ul > li:not(:last-child) > a {
        border-right: none;
        border-bottom: 1px solid #134a69;
    }
    #nav li ul {
        position: static;
        padding: 1.25em;
        padding-top: 0;
    }
}


/*! CSS Used keyframes */

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}


/*! CSS Used fontfaces */

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url(https://www.potomacofficersclub.com/assets/cssv2/slick/fonts/slick.eot);
    src: url(https://www.potomacofficersclub.com/assets/cssv2/slick/fonts/slick.eot#iefix) format('embedded-opentype'), url(https://www.potomacofficersclub.com/assets/cssv2/slick/fonts/slick.woff) format('woff'), url(https://www.potomacofficersclub.com/assets/cssv2/slick/fonts/slick.ttf) format('truetype'), url(https://www.potomacofficersclub.com/assets/cssv2/slick/fonts/slick.svg#slick) format('svg');
}

@font-face {
    font-family: 'bootstrapThemesCo-icon';
    src: url(https://www.potomacofficersclub.com/assets/fonts/bootstrapThemesCo-icon.eot?dcpptv);
    src: url(https://www.potomacofficersclub.com/assets/fonts/bootstrapThemesCo-icon.eot?dcpptv#iefix) format('embedded-opentype'), url(https://www.potomacofficersclub.com/assets/fonts/bootstrapThemesCo-icon.ttf?dcpptv) format('truetype'), url(https://www.potomacofficersclub.com/assets/fonts/bootstrapThemesCo-icon.woff?dcpptv) format('woff'), url(https://www.potomacofficersclub.com/assets/fonts/bootstrapThemesCo-icon.svg?dcpptv#bootstrapThemesCo-icon) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url(https://www.potomacofficersclub.com/assets/fonts/fontawesome-webfont.eot?v=4.3.0);
    src: url(https://www.potomacofficersclub.com/assets/fonts/fontawesome-webfont.eot#iefix&v=4.3.0) format('embedded-opentype'), url(https://www.potomacofficersclub.com/assets/fonts/fontawesome-webfont.woff2?v=4.3.0) format('woff2'), url(https://www.potomacofficersclub.com/assets/fonts/fontawesome-webfont.woff?v=4.3.0) format('woff'), url(https://www.potomacofficersclub.com/assets/fonts/fontawesome-webfont.ttf?v=4.3.0) format('truetype'), url(https://www.potomacofficersclub.com/assets/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: fontello;
    src: url(https://www.potomacofficersclub.com/assets/fontello/font/fontello.eot?30869769);
    src: url(https://www.potomacofficersclub.com/assets/fontello/font/fontello.eot?30869769#iefix) format('embedded-opentype'), url(https://www.potomacofficersclub.com/assets/fontello/font/fontello.woff2?30869769) format('woff2'), url(https://www.potomacofficersclub.com/assets/fontello/font/fontello.woff?30869769) format('woff'), url(https://www.potomacofficersclub.com/assets/fontello/font/fontello.ttf?30869769) format('truetype'), url(https://www.potomacofficersclub.com/assets/fontello/font/fontello.svg?30869769#fontello) format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 100;
    src: local('Raleway Thin Italic'), local('Raleway-ThinItalic'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptqg8zYS_SKggPNyCgwLrFmJfWmxA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 100;
    src: local('Raleway Thin Italic'), local('Raleway-ThinItalic'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptqg8zYS_SKggPNyCgwLrFoJfU.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 200;
    src: local('Raleway ExtraLight Italic'), local('Raleway-ExtraLightItalic'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptpg8zYS_SKggPNyCgwgqB_DNCb_Vo.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 200;
    src: local('Raleway ExtraLight Italic'), local('Raleway-ExtraLightItalic'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptpg8zYS_SKggPNyCgwgqB_AtCb.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 300;
    src: local('Raleway Light Italic'), local('Raleway-LightItalic'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptpg8zYS_SKggPNyCgw5qN_DNCb_Vo.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 300;
    src: local('Raleway Light Italic'), local('Raleway-LightItalic'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptpg8zYS_SKggPNyCgw5qN_AtCb.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    src: local('Raleway Italic'), local('Raleway-Italic'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptsg8zYS_SKggPNyCg4Q4FqPfE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    src: local('Raleway Italic'), local('Raleway-Italic'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptsg8zYS_SKggPNyCg4TYFq.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 500;
    src: local('Raleway Medium Italic'), local('Raleway-MediumItalic'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptpg8zYS_SKggPNyCgwvqJ_DNCb_Vo.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 500;
    src: local('Raleway Medium Italic'), local('Raleway-MediumItalic'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptpg8zYS_SKggPNyCgwvqJ_AtCb.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 600;
    src: local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptpg8zYS_SKggPNyCgwkqV_DNCb_Vo.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 600;
    src: local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptpg8zYS_SKggPNyCgwkqV_AtCb.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 700;
    src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptpg8zYS_SKggPNyCgw9qR_DNCb_Vo.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 700;
    src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptpg8zYS_SKggPNyCgw9qR_AtCb.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 800;
    src: local('Raleway ExtraBold Italic'), local('Raleway-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptpg8zYS_SKggPNyCgw6qd_DNCb_Vo.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 800;
    src: local('Raleway ExtraBold Italic'), local('Raleway-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptpg8zYS_SKggPNyCgw6qd_AtCb.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 900;
    src: local('Raleway Black Italic'), local('Raleway-BlackItalic'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptpg8zYS_SKggPNyCgwzqZ_DNCb_Vo.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 900;
    src: local('Raleway Black Italic'), local('Raleway-BlackItalic'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptpg8zYS_SKggPNyCgwzqZ_AtCb.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    src: local('Raleway Thin'), local('Raleway-Thin'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptsg8zYS_SKggPNwE44Q4FqPfE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    src: local('Raleway Thin'), local('Raleway-Thin'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptsg8zYS_SKggPNwE44TYFq.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwOIpWqhPAMif.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwOIpWqZPAA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIYqWqhPAMif.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIYqWqZPAA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwN4rWqhPAMif.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwN4rWqZPAA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwPIsWqhPAMif.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwPIsWqZPAA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwJYtWqhPAMif.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwJYtWqZPAA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIouWqhPAMif.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIouWqZPAA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: local('Raleway Black'), local('Raleway-Black'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwK4vWqhPAMif.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: local('Raleway Black'), local('Raleway-Black'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwK4vWqZPAA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: AvenirNextLTPro-Cn;
    src: url(https://www.potomacofficersclub.com/assets/fonts/POC/AvenirNextLTPro-Cn.eot?v=4.2.0);
    src: url(https://www.potomacofficersclub.com/assets/fonts/POC/AvenirNextLTPro-Cn.eot?v=4.2.0#iefix) format("embedded-opentype"), url(https://www.potomacofficersclub.com/assets/fonts/POC/AvenirNextLTPro-Cn.ttf?v=4.2.0) format("truetype"), url(https://www.potomacofficersclub.com/assets/fonts/POC/AvenirNextLTPro-Cn.svg?v=4.2.0#AvenirNextLTPro-Cn) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: AvenirNextLTPro-DemiCn;
    src: url(https://www.potomacofficersclub.com/assets/fonts/POC/AvenirNextLTPro-DemiCn.eot?v=4.2.0);
    src: url(https://www.potomacofficersclub.com/assets/fonts/POC/AvenirNextLTPro-DemiCn.eot?v=4.2.0#iefix) format("embedded-opentype"), url(https://www.potomacofficersclub.com/assets/fonts/POC/AvenirNextLTPro-DemiCn.woff?v=4.2.0) format("woff"), url(https://www.potomacofficersclub.com/assets/fonts/POC/AvenirNextLTPro-DemiCn.ttf?v=4.2.0) format("truetype"), url(https://www.potomacofficersclub.com/assets/fonts/POC/AvenirNextLTPro-DemiCn.svg?v=4.2.0#BEBAS) format("svg");
    font-weight: 400;
    font-style: normal;
}