.dt{max-height:40px !important;min-height:40px !important}
.fix-two{min-height:110px !important}
.dima-navbar-wrap .dima-navbar .logo h1 img{max-width:64%;max-height:150%;padding:0px}
.sub-menu li{transition:.5s ease-in-out}
.sub-menu li:hover{background:transparent !important;box-shadow:0px 1px 0px 0px #90C4ED !important;trasition:0 !important}
.clients-wrapper a img{opacity:.6}
.clients-wrapper a img:hover{opacity:1;box-shadow:0px 0px 40px 0px #90C4ED}
.html5vid{height:1000px !important}
.dima-isotope-loading .loading-top{background-color:transparent !important}
}
.dima-isotope-loading .loading-bottom{background-color:transparent !important}
div .di_2_of_3{margin-left:3% !important}
.sidebar .widget{position:relative;background:#FFFFFF;border:1px solid #d0cdbc;padding:30px;margin-bottom:30px;2 text-align:left}
.blog-list-item-date{width:45px;margin:5px;float:left;box-shadow:0px 0px 1px 1px gray;text-align:center}
.blog-list-item-date > h3{padding:5px;background:rgb(247, 247, 247);margin:0px !important}
.blog-list-item-date > span{margin:0px !important;color:white;background-color:rgb(0, 121, 215)}
.blog-list-item-description > h4{padding-top:5px;font-size:15px}
.psc{padding-top:0px !important;padding-bottom:0px !important}
.page-section-content{padding:8.25em 0}
.sidebar .widget{border:none}
.dima-navbar-wrap .dima-navbar nav .dima-nav .sub-menu{padding:0px 0px}
.nborder{border-bottom:0px solid #424242 !important;margin-bottom:0px !important}
.btn-s{background-color:rgb(0, 121, 215) !important}
.btn-s:hover{background-color:#90C4ED !important}
.fa-rss-square{color:rgb(255, 172, 21);border-radius:5px}
li.rss{border-top:1px solid #FFAC15 !important}
li.rss > a:hover{color:#FFAC15 !important}
.fw > li{color:rgb(82, 82, 82);padding-left:17%}
.dima-navbar-wrap .dima-navbar nav .dima-nav > li,
.dima-navbar-wrap .dima-navbar nav .dima-nav-end > li{z-index:9999999999}
.dima-navbar-wrap .dima-navbar nav .dima-nav > li > a{text-align:center;padding:47px 0px 0px 10px !important;max-width:165px;font-family:inherit;text-transform:none !important;background:white;font-size:100%;margin-left:10px}
.sf-with-ul{font-size:12px}
@media only screen and (max-width:989px){.dima-navbar-wrap .dima-navbar nav .dima-nav > li > a{text-align:none !important;padding:5px 0px 0px 0px !important;max-width:100% !important}
ul.with-border p.webmail{font-size:65%}
.pop-up > img{padding-left:10px !important;width:25% !important;float:left}
.pop-up > p{position:absolute;height:70px;float:left;margin-left:10px !important;z-index:10;opacity:0;transition:.5s cubic-bezier(0, -0.21, 0.29, 1.13);padding:5px;width:60% !important;font-size:10px !important}
.pop-up > p:hover{display:block;opacity:1;transition:.5s cubic-bezier(0, -0.21, 0.29, 1.13);width:100%;padding-left:150px !important}
p > strong{font-weight:bold;color:black;cursor:default;font-size:10px !important;padding-left:5px}
}
.hov{text-align:left}
.pop-up > img{padding-left:80px;width:300px;float:left}
.pop-up > p{position:absolute;height:150px;float:left;margin-left:76px;z-index:10;opacity:0;transition:.5s cubic-bezier(0.22, 0.85, 0, 1.1);padding:5px;width:20%}
.pop-up > p:hover{display:block;opacity:1;transition:.5s cubic-bezier(0, -0.21, 0.29, 1.13);width:50%;padding-left:240px}
p > strong{font-weight:bold;color:black;cursor:default;font-size:15px;padding-left:10px}
.d44{width:80% !important;height:10% !important;margin:0 auto !important;float:none !important}
.float-end{text-shadow:0px 0px 1px rgba(255, 255, 255, 1) !important}
.float-end > li > a{color:gray;transition:.5s ease-in-out}
.float-end > li > a:hover{text-decoration:none !important;color:black;transition:.5s ease-in-out}
.tp-bgimg{opacity:0 !important;visibility:inherit !important;background-image:url(http://localhost/potomac/assets/images/re-example/poc.jpg) !important;background-color:rgba(0, 0, 0, 0) !important;background-size:215px 200px !important}
.tp-caption.medium_bg_darkblue{background-color:transparent !important}
.mgheader{font-size:15px}
@media only screen and (max-width:780px){.container .pop{width:90% !important}
ul.with-border p.webmail{font-size:85%}
}
@media only screen and (min-width:1140px){.responsive .container .pop{width:950px !important}
ul.with-border p.webmail{font-size:85%}
}
.pu{position:absolute;top:0px;width:315%;text-align:left;opacity:0 !important;background:white;transition:.5s ease-in-out}
.pu:hover{transition:.5s ease-in-out;opacity:1 !important;z-index:9999999}
#comments{background:#fff}
iframe{width:100%;height:257px;border:0;position:absolute;top:-18px;z-index:9999999;display:block}
#comment-wrap{background:#fff;position:relative;transition:.5s ease-in-out}
#comments #comment-wrap{z-index:5;padding:10px;opacity:0}
#comments:hover #comment-wrap{opacity:1;transition:.5s ease-in-out}
#comments:hover #comment-wrap:hover{opacity:1;transition:.5s ease-in-out}
.tc{background:url('../images/spectrum.png');background-size:100% 100%;opacity:1}
.spec-ul{text-align:left;margin-left:30px}
.spec-ul > li{line-height:1.5em;list-style-type:disc}
ul.enlarge li{display:inline-block;position:relative;z-index:0;margin:3%}
ul.enlarge img{background-color:#FFFFFF;padding:4px;box-shadow:0 0 6px rgba(132, 132, 132, .75);border-radius:0px;width:150px;height:150px}
ul.enlarge span{position:absolute;left:-9999px;background-color:#eae9d4;padding:10px;font-family:'Droid Sans', sans-serif;font-size:.9em;text-align:center;color:#495a62;box-shadow:0 0 20px rgba(0, 0, 0, .75));-moz-box-shadow:0 0 20px rgba(0, 0, 0, .75);box-shadow:0 0 20px rgba(0, 0, 0, .75);border-radius:8px;-moz-border-radius:8px;border-radius:8px}
ul.enlarge li:hover{z-index:50;cursor:pointer}
ul.enlarge span img{padding:2px;background:#ccc}
ul.enlarge li:hover span{top:-1 00px;left:-20px}
ul.enlarge li:hover:nth-child(2) span{left:-100px}
ul.enlarge li:hover:nth-child(3) span{left:-200px}
ul.enlarge img,
ul.enlarge span{behavior:url(pie/PIE.htc)}
.link_overlay{background:transparent !important;color:transparent}
.work-info{bottom:0px !important;padding:0px !important;overflow:hidden}
.dmp{color:black;z-index:9999;position:absolute;bottom:-24px;right:0;left:0}
p.naym{width:90%;background:black;margin-left:2%;background:rgba(0, 0, 0, 0.33);width:100%;text-shadow:1px 1px 1px black;height:30px;margin-bottom:-23px;transition:.5s ease-in-out}
.column_4 .boxed-protfolio [class*="di_"]{margin:0;padding:0 1.1% 5.2% 1.1%}
.work-item{text-align:center}
.float-start{float:left;left:10px;position:absolute}
.float-end{right:10px;position:absolute}
.tiny{font-size:12px;min-width:80px;padding:5px 0px;margin:0px;bottom:2px;font-family:inherit;right:5px}
width:90%;background:black;margin-left:2%;.tiny:hover{text-shadow:1px 1px 2px black;font-family:inherit;box-shadow:0px 0px 2px 1px green;background-color:rgb(0, 200, 83)}
@media only screen and (max-width:1200px){.float-end{right:10px;position:absolute;font-size:90% !important}
.dima-navbar-wrap .dima-navbar nav .dima-nav > li > a{text-align:center;padding:47px 0px 0px 10px !important;max-width:155px;font-family:inherit;text-transform:none !important;background:white;margin-left:10px;font-size:81% !important}
.float-start{float:left;left:10px;font-size:81% !important}
.dima-menu li{padding:0px 5px}
}
@media only screen and (max-width:990px){.dima-navbar-wrap .dima-navbar nav .dima-nav > li > a{font-size:100% !important}
}
@media only screen and (max-width:730px){.float-end{right:10px;position:absolute;font-size:80% !important}
.tiny{font-size:10px;min-width:70px;padding:5px 0px;margin:0px;bottom:2px;font-family:inherit;right:5px}
}
@media only screen and (max-width:620px){.float-end{right:10px;position:absolute;font-size:70% !important}
.tiny{font-size:10px;min-width:60px;padding:2px 0px;margin:0px;bottom:-1px;font-family:inherit;right:5px}
}
.dima-topbar .dima-menu{padding:8px 0;font-size:14px;line-height:14px;font-size:0.875rem;overflow:hidden;line-height:0.875rem;width:100%}
@keyframes "shadow"{0%{box-shadow:0px 0px 1px 0px;}
50%{box-shadow:0px 0px 6px 0px;}
100%{box-shadow:0px 0px 1px 0px;}
}
@keyframes "wiggle"{0%{text-shadow:0px 0px 1px gray;transition:.5s ease-in-out;}
50%{text-shadow:0px 0px 1px black;box-shadow:0px 0px 6px 0px;}
100%{transition:.5s ease-in-out;text-shadow:0px 0px 1px gray;}
}
@keyframes "shadow2"{0%{}
50%{color:black;text-shadow:0px 0px 3px white;}
100%{}
}
@keyframes "shadows"{0%{}
50%{box-shadow:0px 0px 3px -1px #90C4ED;}
100%{}
}
@keyframes "textshad"{0%{}
50%{color:black;}
100%{}
}
@-webkit-keyframes "shadow"{0%{box-shadow:0px 0px 1px 0px;}
50%{box-shadow:0px 0px 6px 0px;}
100%{box-shadow:0px 0px 1px 0px;}
}
@-webkit-keyframes "wiggle"{0%{text-shadow:0px 0px 1px gray;transition:.5s ease-in-out;}
50%{text-shadow:0px 0px 1px black;box-shadow:0px 0px 6px 0px;}
100%{transition:.5s ease-in-out;text-shadow:0px 0px 1px gray;}
}
@-webkit-keyframes "shadow2"{0%{}
50%{color:black;text-shadow:0px 0px 3px white;}
100%{}
}
@-webkit-keyframes "shadows"{0%{}
50%{box-shadow:0px 0px 3px -1px #90C4ED;}
100%{}
}
@-webkit-keyframes "textshad"{0%{}
50%{color:black;}
100%{}
}
.textshad{transition:.5s ease-in-out}
.textshad2{transition:.5s ease-in-out}
.textshad:hover{transition:.5s ease-in-out;color:black;cursor:pointer;font-size:bold}
.textshad2:hover{transition:.5s ease-in-out;color:black;cursor:pointer;font-size:bold}
.shad6{-webkit-animation:shadows 3s infinite}
.shad{-webkit-animation-delay:2s;-webkit-animation:shadow2 3s infinite}
.shad2{-webkit-animation-delay:4s;-webkit-animation:shadow2 4s infinite;animation-delay:4s;animation:shadow2 4s infinite}
.shad3{-webkit-animation-delay:2s;-webkit-animation:shadow2 5s infinite;animation-delay:2s;animation:shadow2 5s infinite}
.shad4{-webkit-animation-delay:4s;-webkit-animation:shadow2 6s infinite;animation-delay:4s;animation:shadow2 6s infinite}
.shad5{-webkit-animation-delay:2s;-webkit-animation:shadow2 5s infinite;animation-delay:2s;animation:shadow2 5s infinite}
.wiggle{-webkit-animation-delay:-2s;-webkit-animation:shadow 1s infinite;animation-delay:-2s;animation:shadow 1s infinite}
.wiggle:hover{-webkit-animation:shadow .1s infinite;animation:shadow .1s infinite}
@media only screen and (max-width:990px){.forms{margin:0 auto !important;float:none !important;width:100% !important}
.di_1_of_4 .sidebar{width:100% !important}
div.di_2_of_3{margin-bottom:40px;width:95% !important}
}
@media only screen and (max-width:990px) and (min-width:768px){div.di_1_of_4{float:none;margin:0 auto;width:50%;z-index:-9999}
}
@media only screen and (max-width:990px){.di23{width:100% !important}
}
#mainwrapper{font:10pt normal Arial, sans-serif;height:auto;margin:20px auto 0 auto;text-align:center;width:100%;padding-left:5%}
@media only screen and (max-width:990px){#mainwrapper{padding-left:12%}
}
@media only screen and (max-width:520px){#mainwrapper{padding-left:20%}
}
#mainwrapper .box{padding-top:0px;cursor:pointer;height:200px;float:left;margin:5px;position:relative;overflow:hidden;width:200px;box-shadow:1px 1px 6px 0px #000}
#mainwrapper .box img{position:absolute;left:0;transition:all 300ms ease-out;-moz-transition:all 300ms ease-out;-o-transition:all 300ms ease-out;-ms-transition:all 300ms ease-out;transition:all 300ms ease-out}
#mainwrapper .box .caption{background-color:rgba(0, 0, 0, 0.8);position:absolute;color:#fff;z-index:100;transition:all 300ms ease-out;-moz-transition:all 300ms ease-out;-o-transition:all 300ms ease-out;-ms-transition:all 300ms ease-out;transition:all 300ms ease-out;left:0}
#mainwrapper .box .simple-caption{height:40px;width:200px;display:block;bottom:-40px;line-height:25pt;text-align:center}
#mainwrapper .box:hover .simple-caption{-moz-transform:translateY(-100%);-o-transform:translateY(-100%);transform:translateY(-100%);transform:translateY(-100%)}
#comments{background:#fff}
iframe{width:100%;height:250px;border:0}
#comment-wrap{background:#fff;position:relative}
#comments #comment-wrap{width:90%;margin-left:2%;display:none;z-index:5;padding:10px}
#comments:hover #comment-wrap{display:block}
.pfc{margin:0 auto !important;width:100%;float:none !important;right:0;left:0}
.hold-form{border-radius:5px;width:34%;margin:0 auto;box-shadow:0px 0px 4px -1px black;padding:0px 0px 0px 0px}
@media only screen and (max-width:1300px){.hold-form{border-radius:5px;width:49%;margin:0 auto;box-shadow:0px 0px 4px -1px black;padding:0px 0px 0px 0px}
}
@media only screen and (max-width:989px){.di_1_of_4.sidebar{width:100%}
}
@media only screen and (max-width:600px){.hold-form{border-radius:5px;width:80%;margin:0 auto;box-shadow:0px 0px 2px 0px black;padding:0px 0px 0px 0px}
.di_1_of_4.sidebar{width:100%}
}
.minitiny{float:right;border-radius:15px 1px 1px 15px;margin-top:3px;font-size:smaller;height:10px;padding:10px 1px 20px;min-width:115px}
.minitiny:hover{min-width:160px}
.spec_ul{text-align:left;padding-top:5px}
.spec_ul > li{list-style-type:square;margin-left:30px;line-height:1.5em}
.dp_btn{float:left}
.dp_btn > img{width:55%;margin-left:-15px}
.dima-pricing-table .dima-pricing-col{border:0px solid white}
.header > h2{color:black !important}
.no-margin.di_1_of_4{width:15%}
.dima-pricing-table .dima-pricing-col .dima-pricing-col-info{padding:0px}
.dima-pricing-table .dima-pricing-col .dima-pricing-col-info ul li{height:50px;padding:12px 1px !important;color:black}
.hold-formc{background:rgb(231, 254, 226);width:40%;margin:0 auto;box-shadow:0px 0px 2px 0px black;padding:0px 0px 0px 0px}
@media only screen and (max-width:1300px){.hold-formc{width:55%;margin:0 auto;box-shadow:0px 0px 2px 0px black;padding:0px 0px 0px 0px}
}
@media only screen and (max-width:989px){.di_1_of_4.sidebar{width:100%}
}
@media only screen and (max-width:600px){.hold-formc{width:85%;margin:0 auto;box-shadow:0px 0px 4px -1px black;padding:0px 0px 0px 0px}
.di_1_of_4.sidebar{width:100%}
}
.con > input,
.con > textarea{background:white;border:1px solid rgba(144, 144, 144, 0.41)}
.con1 > input{background:white}
.con > input:focus,
.con > textarea:focus{border:1px solid #d0cdbc}
.con1 > input:focus{border:1px solid #d0cdbc}
.hold-form-nw{box-shadow:0px 0px 1px 0px black}
.hold-form-nw > form{padding:15px}
.nw{margin:0em 0em 15px !important}
.nw > input,
.nw > textarea{background:white;border:1px solid rgb(216, 215, 210)}
.nw > input:focus,
.nw > textarea:focus{border:1px solid #d0cdbc}
fieldset{text-align:left;border-top:1px solid rgba(31, 148, 5, 0.34);margin-bottom:10px;padding:5px;padding-top:15px}
fieldset > legend{padding:10px 15px;background:rgba(0, 86, 24, 0.06);margin:-5px;color:black;font-weight:bold}
.cc > input{padding:5px;transition:.3s ease-in-out;color:black}
.cc > input:focus,
.nw > input:focus{border-color:#90C4ED !important;-webkit-appearance:none;-moz-box-shadow:0.3em 0em 0em 0em #90C4ED inset;-webkit-box-shadow:0.3em 0em 0em 0em #90C4ED inset;box-shadow:0.3em 0em 0em 0em #90C4ED inset;transition:.3s ease-in-out}
.rad,
.chk{color:black;padding:10px}
.rad:hover,
.chk:hover{cursor:pointer}
.doc:hover{font-size:1}
@-webkit-keyframes "wiggles"{0%{transform:rotate(9deg);}
50%{transform:rotate(-9deg);text-shadow:0px 0px 2px black;}
100%{transform:rotate(9deg);}
}
.doc:hover{-webkit-animation:wiggles 1s infinite;animation:wiggles 1s infinite}
select.ccs,
.ccs{background:white !important;border:1px solid rgb(216, 215, 210);border-radius:5px !important}
select.ccs:active,
.ccs:active{border-color:#90C4ED !important;-webkit-appearance:none;-moz-box-shadow:0.3em 0em 0em 0em #90C4ED inset !important;-webkit-box-shadow:0.3em 0em 0em 0em #90C4ED inset !important;box-shadow:0.3em 0em 0em 0em #90C4ED inset !important}
.ccs > option{padding:13px !important;min-height:2em !important;height:50px !important;margin:5px !important}
.orange{background:rgb(255, 116, 0);color:black;padding:5px;border:1px solid black;font-size:20px;text-align:center;margin:0 auto;margin-bottom:25px;width:80%}
input#button[disabled]{background:gray;border:1px solid gray;color:gainsboro;cursor:not-allowed}
.dima-author-box .dima-about-image img{width:150px;height:150px}
.sidebar .widget.dima-author-box .dima-about-image{padding:2px;text-align:center;margin-bottom:5px}
.widget.twit{box-shadow:1px 1px 1px 1px;border-radius:5px}
h5.widget-title.uppercase{padding-top:8px;padding-left:10px}
.widget.twit > .widget-content{padding:0px 5px 5px 5px}
.rd.post-meta.box,
.rd.post-content.text-start.box.rd{padding:20px 25px !important;font-size:14px !important;line-height:14px !important;font-size:0.875rem !important;line-height:0.875rem !important;margin-bottom:0 !important;background:#FFFFFF !important;border:1px solid #d0cdbc !important;padding:30px !important;font:10pt normal Arial, sans-serif !important;height:auto !important;margin:20px auto 0 auto !important;text-align:center !important;width:100% !important;padding-left:5% !important;box-shadow:none !important;margin-top:-1px !important}
.iso{text-align:left;list-style-type:circle;padding-left:5px}
.iso > p{color:gray;transition:.5s ease-in-out}
a{transition:.2s ease-in-out}
.dima-pricing-table .dima-pricing-col.dima-offers .dima-pricing-col-info{border:none;margin-top:61.6%}
li > strong{font-weight:bold}
input.ft-email::-webkit-input-placeholder{color:rgb(0, 200, 83)}
input.ft-email{color:rgb(0, 200, 83);background:black}
#personal_information{display:none}
.imgs > img{box-shadow:0px 0px 1px 0px gray}
@media only screen and (max-width:1200px){ul.with-border p.webmail{font-size:100%}
ul.with-border p.webmail{font-size:80%}
}
@media only screen and (max-width:987px){ul.with-border p.webmail{font-size:65%}
}
@media only screen and (max-width:750px){ul.with-border p.webmail{font-size:100%}
}
@media only screen and (max-width:989px){.dima-pricing-col-info > p{width:310% !important;float:none;margin:20px auto !important}
}
@media only screen and (max-width:400px){.dima-navbar-wrap .dima-navbar nav .dima-nav > li > a,
.dima-navbar-wrap .dima-navbar nav .dima-nav-end > li > a{height:auto;margin:2px 0 !important;padding:10px 0px !important}
}
.dima-tab-content .dima-tab_content{padding:18px 30px;display:none}
.hidden{display:none}
.error32{background-color:#FFFAFA !important;border-color:#E7BEBE !important;border-left:none !important;color:#D95C5C !important;padding-left:1.2em !important;-moz-box-shadow:0.3em 0em 0em 0em #D95C5C inset !important;-webkit-box-shadow:0.3em 0em 0em 0em #D95C5C inset;box-shadow:0.3em 0em 0em 0em #D95C5C inset}
.hidden2{display:none !important}
.error3{color:#C10000;font-size:12px;line-height:11px;font-size:0.75rem;line-height:0.6875rem;margin-top:5px;padding:0}
em.error3{color:#e74c3c !important}
#require_email{margin:0px auto;text-align:center;position:relative}
#require_email fieldset{background:white;border:0 none;padding:20px 30px;box-sizing:border-box;width:100%;margin:0 auto}
#require_email fieldset:not(:first-of-type){display:none}
#require_email input,
#require_email textarea{padding:15px;border:1px solid #ccc;margin-bottom:10px;width:100%;box-sizing:border-box;color:#2C3E50;font-size:13px}
#require_email .action-button{width:100px;background:#90C4ED;font-size:15px;color:white;border:0 none;border-radius:1px;cursor:pointer;padding:10px 5px;margin:10px 5px}
#require_email .action-button:hover,
#require_email .action-button:focus{box-shadow:0 0 0 2px white, 0 0 0 3px #27AE60}
.fs-title{font-size:15px;text-transform:uppercase;color:#2C3E50;margin-bottom:10px}
.fs-subtitle{font-weight:normal;font-size:13px;color:#666;margin-bottom:20px}
#progressbar{margin-bottom:30px;overflow:hidden;counter-reset:step}
#progressbar li{list-style-type:none;color:black;text-transform:uppercase;font-size:9px;width:33.33%;float:left;position:relative}
#progressbar li:before{content:counter(step);counter-increment:step;width:20px;line-height:20px;display:block;font-size:10px;color:#333;background:white;margin:0 auto 5px auto}
#progressbar li:after{content:'';width:100%;height:2px;background:white;position:absolute;left:-50%;top:9px;z-index:-1}
#progressbar li:first-child:after{content:none}
#progressbar li.active:before,
#progressbar li.active:after{background:#27AE60;color:white}
.msp{color:black;font-weight:bold;margin-right:5px;margin-left:5px}
#require_email .action-button{transition:.5s ease-in-out}
#require_email .action-button:hover{text-shadow:-1px 1px 1px black}
input#fname,
input#lname{text-transform:capitalize}
th.h6{padding:2% 5% 1px}
.labelOR{font-family:arial}
.labelOR2{font-family:arial}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xl-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xl-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xl-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xl-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xl-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xl-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xl-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xl-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xl-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xl-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xl-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12,
.col-xl-12{position:relative;min-height:1px;padding-left:11px;padding-right:11px}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12{float:left}
.col-xs-12{width:100%}
.col-xs-11{width:91.66666667%}
.col-xs-10{width:83.33333333%}
.col-xs-9{width:75%}
.col-xs-8{width:66.66666667%}
.col-xs-7{width:58.33333333%}
.col-xs-6{width:50%}
.col-xs-5{width:41.66666667%}
.col-xs-4{width:33.33333333%}
.col-xs-3{width:25%}
.col-xs-2{width:16.66666667%}
.col-xs-1{width:8.33333333%}
.col-xs-pull-12{right:100%}
.col-xs-pull-11{right:91.66666667%}
.col-xs-pull-10{right:83.33333333%}
.col-xs-pull-9{right:75%}
.col-xs-pull-8{right:66.66666667%}
.col-xs-pull-7{right:58.33333333%}
.col-xs-pull-6{right:50%}
.col-xs-pull-5{right:41.66666667%}
.col-xs-pull-4{right:33.33333333%}
.col-xs-pull-3{right:25%}
.col-xs-pull-2{right:16.66666667%}
.col-xs-pull-1{right:8.33333333%}
.col-xs-pull-0{right:auto}
.col-xs-push-12{left:100%}
.col-xs-push-11{left:91.66666667%}
.col-xs-push-10{left:83.33333333%}
.col-xs-push-9{left:75%}
.col-xs-push-8{left:66.66666667%}
.col-xs-push-7{left:58.33333333%}
.col-xs-push-6{left:50%}
.col-xs-push-5{left:41.66666667%}
.col-xs-push-4{left:33.33333333%}
.col-xs-push-3{left:25%}
.col-xs-push-2{left:16.66666667%}
.col-xs-push-1{left:8.33333333%}
.col-xs-push-0{left:auto}
.col-xs-offset-12{margin-left:100%}
.col-xs-offset-11{margin-left:91.66666667%}
.col-xs-offset-10{margin-left:83.33333333%}
.col-xs-offset-9{margin-left:75%}
.col-xs-offset-8{margin-left:66.66666667%}
.col-xs-offset-7{margin-left:58.33333333%}
.col-xs-offset-6{margin-left:50%}
.col-xs-offset-5{margin-left:41.66666667%}
.col-xs-offset-4{margin-left:33.33333333%}
.col-xs-offset-3{margin-left:25%}
.col-xs-offset-2{margin-left:16.66666667%}
.col-xs-offset-1{margin-left:8.33333333%}
.col-xs-offset-0{margin-left:0%}
@media (min-width:768px){.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12{float:left}
.col-sm-12{width:100%}
.col-sm-11{width:91.66666667%}
.col-sm-10{width:83.33333333%}
.col-sm-9{width:75%}
.col-sm-8{width:66.66666667%}
.col-sm-7{width:58.33333333%}
.col-sm-6{width:50%}
.col-sm-5{width:41.66666667%}
.col-sm-4{width:33.33333333%}
.col-sm-3{width:25%}
.col-sm-2{width:16.66666667%}
.col-sm-1{width:8.33333333%}
.col-sm-pull-12{right:100%}
.col-sm-pull-11{right:91.66666667%}
.col-sm-pull-10{right:83.33333333%}
.col-sm-pull-9{right:75%}
.col-sm-pull-8{right:66.66666667%}
.col-sm-pull-7{right:58.33333333%}
.col-sm-pull-6{right:50%}
.col-sm-pull-5{right:41.66666667%}
.col-sm-pull-4{right:33.33333333%}
.col-sm-pull-3{right:25%}
.col-sm-pull-2{right:16.66666667%}
.col-sm-pull-1{right:8.33333333%}
.col-sm-pull-0{right:auto}
.col-sm-push-12{left:100%}
.col-sm-push-11{left:91.66666667%}
.col-sm-push-10{left:83.33333333%}
.col-sm-push-9{left:75%}
.col-sm-push-8{left:66.66666667%}
.col-sm-push-7{left:58.33333333%}
.col-sm-push-6{left:50%}
.col-sm-push-5{left:41.66666667%}
.col-sm-push-4{left:33.33333333%}
.col-sm-push-3{left:25%}
.col-sm-push-2{left:16.66666667%}
.col-sm-push-1{left:8.33333333%}
.col-sm-push-0{left:auto}
.col-sm-offset-12{margin-left:100%}
.col-sm-offset-11{margin-left:91.66666667%}
.col-sm-offset-10{margin-left:83.33333333%}
.col-sm-offset-9{margin-left:75%}
.col-sm-offset-8{margin-left:66.66666667%}
.col-sm-offset-7{margin-left:58.33333333%}
.col-sm-offset-6{margin-left:50%}
.col-sm-offset-5{margin-left:41.66666667%}
.col-sm-offset-4{margin-left:33.33333333%}
.col-sm-offset-3{margin-left:25%}
.col-sm-offset-2{margin-left:16.66666667%}
.col-sm-offset-1{margin-left:8.33333333%}
.col-sm-offset-0{margin-left:0%}
}
@media (min-width:992px){.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12{float:left}
.col-md-12{width:100%}
.col-md-11{width:91.66666667%}
.col-md-10{width:83.33333333%}
.col-md-9{width:75%}
.col-md-8{width:66.66666667%}
.col-md-7{width:58.33333333%}
.col-md-6{width:50%}
.col-md-5{width:41.66666667%}
.col-md-4{width:33.33333333%}
.col-md-3{width:25%}
.col-md-2{width:16.66666667%}
.col-md-1{width:8.33333333%}
.col-md-pull-12{right:100%}
.col-md-pull-11{right:91.66666667%}
.col-md-pull-10{right:83.33333333%}
.col-md-pull-9{right:75%}
.col-md-pull-8{right:66.66666667%}
.col-md-pull-7{right:58.33333333%}
.col-md-pull-6{right:50%}
.col-md-pull-5{right:41.66666667%}
.col-md-pull-4{right:33.33333333%}
.col-md-pull-3{right:25%}
.col-md-pull-2{right:16.66666667%}
.col-md-pull-1{right:8.33333333%}
.col-md-pull-0{right:auto}
.col-md-push-12{left:100%}
.col-md-push-11{left:91.66666667%}
.col-md-push-10{left:83.33333333%}
.col-md-push-9{left:75%}
.col-md-push-8{left:66.66666667%}
.col-md-push-7{left:58.33333333%}
.col-md-push-6{left:50%}
.col-md-push-5{left:41.66666667%}
.col-md-push-4{left:33.33333333%}
.col-md-push-3{left:25%}
.col-md-push-2{left:16.66666667%}
.col-md-push-1{left:8.33333333%}
.col-md-push-0{left:auto}
.col-md-offset-12{margin-left:100%}
.col-md-offset-11{margin-left:91.66666667%}
.col-md-offset-10{margin-left:83.33333333%}
.col-md-offset-9{margin-left:75%}
.col-md-offset-8{margin-left:66.66666667%}
.col-md-offset-7{margin-left:58.33333333%}
.col-md-offset-6{margin-left:50%}
.col-md-offset-5{margin-left:41.66666667%}
.col-md-offset-4{margin-left:33.33333333%}
.col-md-offset-3{margin-left:25%}
.col-md-offset-2{margin-left:16.66666667%}
.col-md-offset-1{margin-left:8.33333333%}
.col-md-offset-0{margin-left:0%}
}
@media (min-width:1140px){.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12{float:left}
.col-lg-12{width:100%}
.col-lg-11{width:91.66666667%}
.col-lg-10{width:83.33333333%}
.col-lg-9{width:75%}
.col-lg-8{width:66.66666667%}
.col-lg-7{width:58.33333333%}
.col-lg-6{width:50%}
.col-lg-5{width:41.66666667%}
.col-lg-4{width:33.33333333%}
.col-lg-3{width:25%}
.col-lg-2{width:16.66666667%}
.col-lg-1{width:8.33333333%}
.col-lg-pull-12{right:100%}
.col-lg-pull-11{right:91.66666667%}
.col-lg-pull-10{right:83.33333333%}
.col-lg-pull-9{right:75%}
.col-lg-pull-8{right:66.66666667%}
.col-lg-pull-7{right:58.33333333%}
.col-lg-pull-6{right:50%}
.col-lg-pull-5{right:41.66666667%}
.col-lg-pull-4{right:33.33333333%}
.col-lg-pull-3{right:25%}
.col-lg-pull-2{right:16.66666667%}
.col-lg-pull-1{right:8.33333333%}
.col-lg-pull-0{right:auto}
.col-lg-push-12{left:100%}
.col-lg-push-11{left:91.66666667%}
.col-lg-push-10{left:83.33333333%}
.col-lg-push-9{left:75%}
.col-lg-push-8{left:66.66666667%}
.col-lg-push-7{left:58.33333333%}
.col-lg-push-6{left:50%}
.col-lg-push-5{left:41.66666667%}
.col-lg-push-4{left:33.33333333%}
.col-lg-push-3{left:25%}
.col-lg-push-2{left:16.66666667%}
.col-lg-push-1{left:8.33333333%}
.col-lg-push-0{left:auto}
.col-lg-offset-12{margin-left:100%}
.col-lg-offset-11{margin-left:91.66666667%}
.col-lg-offset-10{margin-left:83.33333333%}
.col-lg-offset-9{margin-left:75%}
.col-lg-offset-8{margin-left:66.66666667%}
.col-lg-offset-7{margin-left:58.33333333%}
.col-lg-offset-6{margin-left:50%}
.col-lg-offset-5{margin-left:41.66666667%}
.col-lg-offset-4{margin-left:33.33333333%}
.col-lg-offset-3{margin-left:25%}
.col-lg-offset-2{margin-left:16.66666667%}
.col-lg-offset-1{margin-left:8.33333333%}
.col-lg-offset-0{margin-left:0%}
}
@media (min-width:1400px){.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12{float:left}
.col-xl-12{width:100%}
.col-xl-11{width:91.66666667%}
.col-xl-10{width:83.33333333%}
.col-xl-9{width:75%}
.col-xl-8{width:66.66666667%}
.col-xl-7{width:58.33333333%}
.col-xl-6{width:50%}
.col-xl-5{width:41.66666667%}
.col-xl-4{width:33.33333333%}
.col-xl-3{width:25%}
.col-xl-2{width:16.66666667%}
.col-xl-1{width:8.33333333%}
.col-xl-pull-12{right:100%}
.col-xl-pull-11{right:91.66666667%}
.col-xl-pull-10{right:83.33333333%}
.col-xl-pull-9{right:75%}
.col-xl-pull-8{right:66.66666667%}
.col-xl-pull-7{right:58.33333333%}
.col-xl-pull-6{right:50%}
.col-xl-pull-5{right:41.66666667%}
.col-xl-pull-4{right:33.33333333%}
.col-xl-pull-3{right:25%}
.col-xl-pull-2{right:16.66666667%}
.col-xl-pull-1{right:8.33333333%}
.col-xl-pull-0{right:auto}
.col-xl-push-12{left:100%}
.col-xl-push-11{left:91.66666667%}
.col-xl-push-10{left:83.33333333%}
.col-xl-push-9{left:75%}
.col-xl-push-8{left:66.66666667%}
.col-xl-push-7{left:58.33333333%}
.col-xl-push-6{left:50%}
.col-xl-push-5{left:41.66666667%}
.col-xl-push-4{left:33.33333333%}
.col-xl-push-3{left:25%}
.col-xl-push-2{left:16.66666667%}
.col-xl-push-1{left:8.33333333%}
.col-xl-push-0{left:auto}
.col-xl-offset-12{margin-left:100%}
.col-xl-offset-11{margin-left:91.66666667%}
.col-xl-offset-10{margin-left:83.33333333%}
.col-xl-offset-9{margin-left:75%}
.col-xl-offset-8{margin-left:66.66666667%}
.col-xl-offset-7{margin-left:58.33333333%}
.col-xl-offset-6{margin-left:50%}
.col-xl-offset-5{margin-left:41.66666667%}
.col-xl-offset-4{margin-left:33.33333333%}
.col-xl-offset-3{margin-left:25%}
.col-xl-offset-2{margin-left:16.66666667%}
.col-xl-offset-1{margin-left:8.33333333%}
.col-xl-offset-0{margin-left:0%}
}
#sidebar li{border:none;margin-bottom:20px}
@media screen and (max-width:300px){body{background-color:green !important}
}
.clear-space-5{margin-bottom:-5px !important}
.clear-space-15{margin-bottom:-15px !important}
.dima-pricing-table .dima-pricing-col .header{position:relative;background-color:#6a6359;padding:15px 0px 0px 0px;margin:0;margin-bottom:-1px;margin-left:-1px;border:1px solid #6a6359;letter-spacing:0}
.dima-pricing-table .dima-pricing-col .header h2{margin-bottom:18px;color:#fff;text-transform:uppercase;letter-spacing:0;font-size:32px;line-height:35px;font-size:2rem;line-height:2.1875rem}
.dima-pricing-table .dima-pricing-col .header span{display:block;font-size:18px;line-height:15px;font-size:1.125rem;line-height:0.9375rem;color:#fff}
em.error3{line-height:2.5em !important}
.form .field.error3 textarea,
.form .field.error3 input[type="text"],
.form .field.error3 input[type="email"],
.form .field.error3 input[type="date"],
.form .field.error3 input[type="password"],
.form .field.error3 input[type="number"],
.form .field.error3 input[type="url"],
.form .field.error3 input[type="tel"]{background-color:#FFFAFA;border-color:#E7BEBE;border-left:none;color:#D95C5C;padding-left:1.2em;-moz-box-shadow:0.3em 0em 0em 0em #D95C5C inset;-webkit-box-shadow:0.3em 0em 0em 0em #D95C5C inset;box-shadow:0.3em 0em 0em 0em #D95C5C inset}
.form .field.error3 textarea:focus,
.form .field.error3 input[type="text"]:focus,
.form .field.error3 input[type="email"]:focus,
.form .field.error3 input[type="date"]:focus,
.form .field.error3 input[type="password"]:focus,
.form .field.error3 input[type="number"]:focus,
.form .field.error3 input[type="url"]:focus,
.form .field.error3 input[type="tel"]:focus{border-color:#ff5050;color:#ff5050;-webkit-appearance:none;-moz-box-shadow:0.3em 0em 0em 0em #FF5050 inset;-webkit-box-shadow:0.3em 0em 0em 0em #FF5050 inset;box-shadow:0.3em 0em 0em 0em #FF5050 inset}
.dt{max-height:40px !important;min-height:40px !important}
.fix-two{min-height:110px !important}
.dima-navbar-wrap .dima-navbar .logo h1 img{max-width:64%;max-height:150%;padding:0px}
.sub-menu li{transition:.5s ease-in-out}
.sub-menu li:hover{background:rgb(231, 252, 186);transition:.5s ease-in-out;box-shadow:0px 2px 0px 0px #90C4ED;text-shadow:1px 1px 1px white}
.clients-wrapper a img{opacity:.6}
.clients-wrapper a img:hover{opacity:1;box-shadow:0px 0px 40px 0px #90C4ED}
.html5vid{height:1000px !important}
.dima-isotope-loading .loading-top{background-color:transparent !important}
}
.dima-isotope-loading .loading-bottom{background-color:transparent !important}
div .di_2_of_3{margin-left:3% !important}
.sidebar .widget{position:relative;background:#FFFFFF;border:1px solid #d0cdbc;padding:30px;margin-bottom:30px;2 text-align:left}
.blog-list-item-date{width:45px;margin:5px;float:left;box-shadow:0px 0px 1px 1px gray;text-align:center}
.blog-list-item-date > h3{padding-top:10px;padding-bottom:0px;background:rgb(247,
247,
247);margin:0px !important}
.blog-list-item-date > h5{margin-top:10px;margin-bottom:5px}
.blog-list-item-date > span{margin:0px !important;color:white;background-color:rgb(0,
121,
215)}
.blog-list-item-description > h4{padding-top:5px;font-size:15px}
.psc{padding-top:0px !important;padding-bottom:0px !important}
.page-section-content{padding:3.35em 0}
.sidebar .widget{border:none}
.dima-navbar-wrap .dima-navbar nav .dima-nav .sub-menu{padding:0px 0px}
.nborder{border-bottom:0px solid #424242 !important;margin-bottom:0px !important}
.btn-s{background-color:rgb(0,
121,
215) !important}
.btn-s:hover{background-color:#90C4ED !important}
.fa-rss-square{color:rgb(255,
172,
21);border-radius:5px}
li.rss{border-top:1px solid #FFAC15 !important}
li.rss > a:hover{color:#FFAC15 !important}
.fw > li{color:rgb(82,
82,
82);padding-left:10%}
.dima-navbar-wrap .dima-navbar nav .dima-nav > li,
.dima-navbar-wrap .dima-navbar nav .dima-nav-end > li{z-index:9999999999}
.dima-navbar-wrap .dima-navbar nav .dima-nav > li > a{text-align:center;padding:47px 0px 0px 10px !important;max-width:165px;font-family:inherit;text-transform:none !important;background:white;font-size:100%;margin-left:10px}
.sf-with-ul{font-size:12px}
@media only screen and (max-width:989px){.dima-navbar-wrap .dima-navbar nav .dima-nav > li > a{text-align:none !important;padding:5px 0px 0px 0px !important;max-width:100% !important}
ul.with-border p.webmail{font-size:65%}
.pop-up > img{padding-left:10px !important;width:25% !important;float:left}
.pop-up > p{position:absolute;height:70px;float:left;margin-left:10px !important;z-index:10;opacity:0;transition:.5s cubic-bezier(0, -0.21, 0.29, 1.13);padding:5px;width:60% !important;font-size:10px !important}
.pop-up > p:hover{display:block;opacity:1;transition:.5s cubic-bezier(0, -0.21, 0.29, 1.13);width:100%;padding-left:150px !important}
p > strong{font-weight:bold;color:black;cursor:default;font-size:10px !important;padding-left:5px}
}
.hov{text-align:left}
.pop-up > img{padding-left:80px;width:300px;float:left}
.pop-up > p{position:absolute;height:150px;float:left;margin-left:76px;z-index:10;opacity:0;transition:.5s cubic-bezier(0.22,
0.85,
0,
1.1);padding:5px;width:20%}
.pop-up > p:hover{display:block;opacity:1;transition:.5s cubic-bezier(0,
-0.21,
0.29,
1.13);width:50%;padding-left:240px}
p > strong{font-weight:bold;color:black;cursor:default;font-size:15px;padding-left:10px}
.d44{width:80% !important;height:10% !important;margin:0 auto !important;float:none !important}
.float-end{color:black}
.float-end > li > a{color:gray;transition:.5s ease-in-out}
.float-end > li > a:hover{text-decoration:none !important;color:black;transition:.5s ease-in-out}
.tp-bgimg{opacity:0 !important;visibility:inherit !important;background-image:url(http://localhost/potomac/assets/images/re-example/poc.jpg) !important;background-color:rgba(0,
0,
0,
0) !important;background-size:215px 200px !important}
.tp-caption.medium_bg_darkblue{background-color:transparent !important}
.mgheader{font-size:15px}
@media only screen and (max-width:780px){.container .pop{width:90% !important}
ul.with-border p.webmail{font-size:85%}
}
@media only screen and (min-width:1140px){.responsive .container .pop{width:950px !important}
ul.with-border p.webmail{font-size:85%}
}
.pu{position:absolute;top:0px;width:315%;text-align:left;opacity:0 !important;background:white;transition:.5s ease-in-out}
.pu:hover{transition:.5s ease-in-out;opacity:1 !important;z-index:9999999}
#comments{background:#fff}
iframe{width:100%;height:257px;border:0;position:absolute;top:-18px;z-index:9999999;display:block}
#comment-wrap{background:#fff;position:relative;transition:.5s ease-in-out}
#comments #comment-wrap{z-index:5;padding:10px;opacity:0}
#comments:hover #comment-wrap{opacity:1;transition:.5s ease-in-out}
#comments:hover #comment-wrap:hover{opacity:1;transition:.5s ease-in-out}
.tc{background:url('../images/spectrum.png');background-size:100% 100%;opacity:1}
.spec-ul{text-align:left;margin-left:30px}
.spec-ul > li{line-height:1.5em;list-style-type:disc}
ul.enlarge li{display:inline-block;position:relative;z-index:0;margin:3%}
ul.enlarge img{background-color:#FFFFFF;padding:4px;box-shadow:0 0 6px rgba(132,
132,
132,
.75);border-radius:0px;width:150px;height:150px}
ul.enlarge span{position:absolute;left:-9999px;background-color:#eae9d4;padding:10px;font-family:'Droid Sans',
sans-serif;font-size:.9em;text-align:center;color:#495a62;box-shadow:0 0 20px rgba(0,
0,
0,
.75));-moz-box-shadow:0 0 20px rgba(0,
0,
0,
.75);box-shadow:0 0 20px rgba(0,
0,
0,
.75);border-radius:8px;-moz-border-radius:8px;border-radius:8px}
ul.enlarge li:hover{z-index:50;cursor:pointer}
ul.enlarge span img{padding:2px;background:#ccc}
ul.enlarge li:hover span{top:-1 00px;left:-20px}
ul.enlarge li:hover:nth-child(2) span{left:-100px}
ul.enlarge li:hover:nth-child(3) span{left:-200px}
ul.enlarge img,
ul.enlarge span{behavior:url(pie/PIE.htc)}
.link_overlay{background:transparent !important;color:transparent}
.work-info{bottom:0px !important;padding:0px !important;overflow:hidden}
.dmp{color:black;z-index:9999;position:absolute;bottom:-24px;right:0;left:0}
p.naym{width:90%;background:black;margin-left:2%;background:rgba(0,
0,
0,
0.33);width:100%;text-shadow:1px 1px 1px black;height:30px;margin-bottom:-23px;transition:.5s ease-in-out}
.column_4 .boxed-protfolio [class*="di_"]{margin:0;padding:0 1.1% 5.2% 1.1%}
.work-item{text-align:center}
.float-start{float:left;left:10px;position:absolute}
.float-end{right:10px;position:absolute}
.tiny{font-size:12px;min-width:80px;padding:5px 0px;margin:0px;bottom:2px;font-family:inherit;right:5px}
.tiny:hover{text-shadow:1px 1px 2px black;font-family:inherit;box-shadow:0px 0px 2px 1px rgb(0,
121,
215);background-color:#90C4ED}
@media only screen and (max-width:1200px){.float-end{right:10px;position:absolute;font-size:90% !important}
.dima-navbar-wrap .dima-navbar nav .dima-nav > li > a{text-align:center;padding:47px 0px 0px 10px !important;max-width:155px;font-family:inherit;text-transform:none !important;background:white;margin-left:10px;font-size:81% !important}
.float-start{float:left;left:10px;font-size:81% !important}
.dima-menu li{padding:0px 5px}
.d-m-li{float:right;text-align:right}
}
@media only screen and (max-width:990px){.dima-navbar-wrap .dima-navbar nav .dima-nav > li > a{font-size:100% !important}
}
@media only screen and (max-width:730px){.float-end{right:10px;position:absolute;font-size:80% !important}
.tiny{font-size:10px;min-width:70px;padding:5px 0px;margin:0px;bottom:2px;font-family:inherit;right:5px}
}
@media only screen and (max-width:620px){.float-end{right:10px;position:absolute;font-size:70% !important}
.tiny{font-size:10px;min-width:60px;padding:2px 0px;margin:0px;bottom:-1px;font-family:inherit;right:5px}
}
.dima-topbar .dima-menu{padding:8px 0;font-size:14px;line-height:14px;font-size:0.875rem;overflow:hidden;line-height:0.875rem;width:100%}
@keyframes "shadow"{0%{box-shadow:0px 0px 1px 0px;}
50%{box-shadow:0px 0px 6px 0px;}
100%{box-shadow:0px 0px 1px 0px;}
}
@keyframes "wiggle"{0%{text-shadow:0px 0px 1px gray;transition:.5s ease-in-out;}
50%{text-shadow:0px 0px 1px black;box-shadow:0px 0px 6px 0px;}
100%{transition:.5s ease-in-out;text-shadow:0px 0px 1px gray;}
}
@keyframes "shadow2"{0%{}
50%{color:black;text-shadow:0px 0px 3px white;}
100%{}
}
@keyframes "shadows"{0%{}
50%{box-shadow:0px 0px 3px -1px #90C4ED;}
100%{}
}
@keyframes "textshad"{0%{}
50%{color:black;}
100%{}
}
@-webkit-keyframes "shadow"{0%{box-shadow:0px 0px 1px 0px;}
50%{box-shadow:0px 0px 6px 0px;}
100%{box-shadow:0px 0px 1px 0px;}
}
@-webkit-keyframes "wiggle"{0%{text-shadow:0px 0px 1px gray;transition:.5s ease-in-out;}
50%{text-shadow:0px 0px 1px black;box-shadow:0px 0px 6px 0px;}
100%{transition:.5s ease-in-out;text-shadow:0px 0px 1px gray;}
}
@-webkit-keyframes "shadow2"{0%{}
50%{color:black;text-shadow:0px 0px 3px white;}
100%{}
}
@-webkit-keyframes "shadows"{0%{}
50%{box-shadow:0px 0px 3px -1px #90C4ED;}
100%{}
}
@-webkit-keyframes "textshad"{0%{}
50%{color:black;}
100%{}
}
.textshad{transition:.5s ease-in-out}
.textshad2{transition:.5s ease-in-out}
.textshad:hover{transition:.5s ease-in-out;color:black;cursor:pointer;font-size:bold}
.textshad2:hover{transition:.5s ease-in-out;color:black;cursor:pointer;font-size:bold}
.shad6{-webkit-animation:shadows 3s infinite}
.shad{-webkit-animation-delay:2s;-webkit-animation:shadow2 3s infinite}
.shad2{-webkit-animation-delay:4s;-webkit-animation:shadow2 4s infinite;animation-delay:4s;animation:shadow2 4s infinite}
.shad3{-webkit-animation-delay:2s;-webkit-animation:shadow2 5s infinite;animation-delay:2s;animation:shadow2 5s infinite}
.shad4{-webkit-animation-delay:4s;-webkit-animation:shadow2 6s infinite;animation-delay:4s;animation:shadow2 6s infinite}
.shad5{-webkit-animation-delay:2s;-webkit-animation:shadow2 5s infinite;animation-delay:2s;animation:shadow2 5s infinite}
.wiggle{-webkit-animation-delay:-2s;-webkit-animation:shadow 1s infinite;animation-delay:-2s;animation:shadow 1s infinite}
.wiggle:hover{-webkit-animation:shadow .1s infinite;animation:shadow .1s infinite}
@media only screen and (max-width:990px){.forms{margin:0 auto !important;float:none !important;width:100% !important}
.di_1_of_4 .sidebar{width:100% !important}
div.di_2_of_3{margin-bottom:40px;width:95% !important}
}
@media only screen and (max-width:990px) and (min-width:768px){div.di_1_of_4{float:none;margin:0 auto;width:50%;z-index:-9999}
}
@media only screen and (max-width:990px){.di23{width:100% !important}
}
#mainwrapper{font:10pt normal Arial,
sans-serif;height:auto;margin:20px auto 0 auto;text-align:center;width:100%;padding-left:5%}
#mainwrapper .box{padding-top:0px;cursor:pointer;height:200px;float:left;margin:5px;position:relative;overflow:hidden;width:200px;box-shadow:1px 1px 6px 0px #000}
#mainwrapper .box img{position:absolute;left:0;transition:all 300ms ease-out;-moz-transition:all 300ms ease-out;-o-transition:all 300ms ease-out;-ms-transition:all 300ms ease-out;transition:all 300ms ease-out}
#mainwrapper .box .caption{background-color:rgba(0,
0,
0,
0.8);position:absolute;color:#fff;z-index:100;transition:all 300ms ease-out;-moz-transition:all 300ms ease-out;-o-transition:all 300ms ease-out;-ms-transition:all 300ms ease-out;transition:all 300ms ease-out;left:0}
#mainwrapper .box .simple-caption{height:40px;width:200px;display:block;top:-40px;line-height:25pt;text-align:center}
#mainwrapper .box:hover .simple-caption{-moz-transform:translateY(100%);-o-transform:translateY(100%);-webkit-transform:translateY(100%);transform:translateY(100%);-webkit-transform:translateY(100%);transform:translateY(100%)}
#comments{background:#fff}
iframe{width:100%;height:250px;border:0}
#comment-wrap{background:#fff;position:relative}
#comments #comment-wrap{width:90%;margin-left:2%;display:none;z-index:5;padding:10px}
#comments:hover #comment-wrap{display:block}
.pfc{margin:0 auto !important;width:100%;float:none !important;right:0;left:0}
.hold-form{border-radius:5px;width:34%;margin:0 auto;box-shadow:0px 0px 4px -1px black;padding:0px 0px 0px 0px}
@media only screen and (max-width:1300px){.hold-form{border-radius:5px;width:49%;margin:0 auto;box-shadow:0px 0px 4px -1px black;padding:0px 0px 0px 0px}
}
@media only screen and (max-width:989px){.di_1_of_4.sidebar{width:100%}
}
@media only screen and (max-width:600px){.hold-form{border-radius:5px;width:80%;margin:0 auto;box-shadow:0px 0px 2px 0px black;padding:0px 0px 0px 0px}
.di_1_of_4.sidebar{width:100%}
}
.minitiny{float:right;border-radius:15px 1px 1px 15px;margin-top:3px;font-size:smaller;height:10px;padding:10px 1px 20px;min-width:115px}
.minitiny:hover{min-width:160px}
.spec_ul{text-align:left;padding-top:5px;padding-right:20px}
.spec_ul > li{list-style-type:square;margin-left:30px;line-height:1.5em}
.dp_btn{float:left}
.dp_btn > img{width:55%;margin-left:-15px}
.dima-pricing-table .dima-pricing-col{border:0px solid white}
.header > h2{color:black !important}
.no-margin.di_1_of_4{width:15%}
.dima-pricing-table .dima-pricing-col .dima-pricing-col-info{padding:0px}
.dima-pricing-table .dima-pricing-col .dima-pricing-col-info ul li{height:30px;padding:6px 1px !important;color:black;line-height:1em;font-size:13px;text-shadow:0px 0px 1px rgba(194,
194,
194,
0.61)}
.hold-formc{background:rgb(231,
254,
226);width:40%;margin:0 auto;box-shadow:0px 0px 2px 0px black;padding:0px 0px 0px 0px}
@media only screen and (max-width:1300px){.hold-formc{width:55%;margin:0 auto;box-shadow:0px 0px 2px 0px black;padding:0px 0px 0px 0px}
}
@media only screen and (max-width:989px){.di_1_of_4.sidebar{width:100%}
}
@media only screen and (max-width:600px){.hold-formc{width:85%;margin:0 auto;box-shadow:0px 0px 4px -1px black;padding:0px 0px 0px 0px}
.di_1_of_4.sidebar{width:100%}
}
.con > input,
.con > textarea{background:white;border:1px solid rgba(144,
144,
144,
0.41)}
.con1 > input{background:white}
.con > input:focus,
.con > textarea:focus{border:1px solid #d0cdbc}
.con1 > input:focus{border:1px solid #d0cdbc}
.hold-form-nw{box-shadow:0px 0px 1px 0px black}
.hold-form-nw > form{padding:15px}
.nw{margin:0em 0em 15px !important}
.nw > input,
.nw > textarea{background:white;border:1px solid rgb(216,
215,
210)}
.nw > input:focus,
.nw > textarea:focus{border:1px solid #d0cdbc}
fieldset{text-align:left;border-top:1px solid rgba(31,
148,
5,
0.34);margin-bottom:10px;padding:5px;padding-top:15px}
fieldset > legend{padding:10px 15px;background:rgba(0,
0,
0,
0.06);margin:-5px;color:black;font-weight:bold;width:101% !important}
.cc > input{padding:5px;transition:.3s ease-in-out;color:black}
.cc > input:focus,
.nw > input:focus{border-color:#90C4ED !important;-webkit-appearance:none;-moz-box-shadow:0.3em 0em 0em 0em #90C4ED inset;-webkit-box-shadow:0.3em 0em 0em 0em #90C4ED inset;box-shadow:0.3em 0em 0em 0em #90C4ED inset;transition:.3s ease-in-out}
.rad,
.chk{color:black;padding:10px}
.rad:hover,
.chk:hover{cursor:pointer}
.doc:hover{font-size:1}
@-webkit-keyframes "wiggles"{0%{transform:rotate(9deg);}
50%{transform:rotate(-9deg);text-shadow:0px 0px 2px black;}
100%{transform:rotate(9deg);}
}
.doc:hover{-webkit-animation:wiggles 1s infinite;animation:wiggles 1s infinite}
select.ccs,
.ccs{background:white !important;border:1px solid rgb(216,
215,
210);border-radius:5px !important}
select.ccs:active,
.ccs:active{border-color:#90C4ED !important;-webkit-appearance:none;-moz-box-shadow:0.3em 0em 0em 0em #90C4ED inset !important;-webkit-box-shadow:0.3em 0em 0em 0em #90C4ED inset !important;box-shadow:0.3em 0em 0em 0em #90C4ED inset !important}
.ccs > option{padding:13px !important;min-height:2em !important;height:50px !important;margin:5px !important}
.orange{background:rgb(91,
192,
222);color:black;padding:5px;border:1px solid black;font-size:20px;text-align:center;margin:0 auto;margin-bottom:25px;width:80%;line-height:1em}
input#button[disabled]{background:gray;border:1px solid gray;color:gainsboro;cursor:not-allowed}
.dima-author-box .dima-about-image img{width:150px;height:150px}
.sidebar .widget.dima-author-box .dima-about-image{padding:2px;text-align:center;margin-bottom:5px}
.widget.twit{box-shadow:1px 1px 1px 1px;border-radius:5px}
h5.widget-title.uppercase{padding-top:8px;padding-left:10px}
.widget.twit > .widget-content{padding:0px 5px 5px 5px}
.rd.post-meta.box,
.rd.post-content.text-start.box.rd{padding:20px 25px !important;font-size:14px !important;line-height:14px !important;font-size:0.875rem !important;line-height:0.875rem !important;margin-bottom:0 !important;background:#FFFFFF !important;border:1px solid #d0cdbc !important;padding:30px !important;font:10pt normal Arial,
sans-serif !important;height:auto !important;margin:20px auto 0 auto !important;text-align:center !important;width:100% !important;padding-left:5% !important;box-shadow:none !important;margin-top:-1px !important}
.iso{text-align:left;list-style-type:circle;padding-left:5px}
.iso > p{color:gray;transition:.5s ease-in-out}
a{transition:.2s ease-in-out}
.dima-pricing-table .dima-pricing-col.dima-offers .dima-pricing-col-info{border:none;margin-top:61.6%}
li > strong{font-weight:bold}
input.ft-email::-webkit-input-placeholder{color:rgb(0,
200,
83)}
input.ft-email{color:rgb(0,
200,
83);background:black}
#personal_information{display:none}
.imgs > img{box-shadow:0px 0px 1px 0px gray;display:inline-flex !important}
@media only screen and (max-width:1200px){ul.with-border p.webmail{font-size:100%}
ul.with-border p.webmail{font-size:80%}
}
@media only screen and (max-width:987px){ul.with-border p.webmail{font-size:65%}
}
@media only screen and (max-width:750px){ul.with-border p.webmail{font-size:100%}
}
@media only screen and (max-width:989px){.dima-pricing-col-info > p{width:310% !important;float:none;margin:20px auto !important}
}
@media only screen and (max-width:400px){.dima-navbar-wrap .dima-navbar nav .dima-nav > li > a,
.dima-navbar-wrap .dima-navbar nav .dima-nav-end > li > a{height:auto;margin:2px 0 !important;padding:10px 0px !important}
}
.dima-tab-content .dima-tab_content{padding:18px 30px;display:none}
.hidden{display:none}
.error2{background-color:#FFFAFA !important;border-color:#E7BEBE !important;border-left:none !important;color:#D95C5C !important;padding-left:1.2em !important;-moz-box-shadow:0.3em 0em 0em 0em #D95C5C inset !important;-webkit-box-shadow:0.3em 0em 0em 0em #D95C5C inset;box-shadow:0.3em 0em 0em 0em #D95C5C inset}
.hidden2{display:none !important}
.error{color:#C10000;font-size:12px;line-height:11px;font-size:0.75rem;line-height:0.6875rem;margin-top:5px;padding:0}
em.error{color:#e74c3c !important}
#require_email{margin:0px auto;text-align:center;position:relative}
#require_email fieldset{background:white;border:0 none;padding:20px 30px;box-sizing:border-box;width:100%;margin:0 auto}
#require_email fieldset:not(:first-of-type){display:none}
#require_email input,
#require_email textarea{padding:15px;border:1px solid #ccc;margin-bottom:10px;width:100%;box-sizing:border-box;color:#2C3E50;font-size:13px}
#require_email .action-button{width:100px;background:#90C4ED;font-size:15px;color:white;border:0 none;border-radius:1px;cursor:pointer;padding:10px 5px;margin:10px 5px}
#require_email .action-button:hover,
#require_email .action-button:focus{box-shadow:0 0 0 2px white,
0 0 0 3px #27AE60}
.small{padding:0.8em 2em !important}
.fs-title{font-size:15px;text-transform:uppercase;color:#2C3E50;margin-bottom:10px}
.fs-subtitle{font-weight:normal;font-size:13px;color:#666;margin-bottom:20px}
#progressbar{margin-bottom:30px;overflow:hidden;counter-reset:step}
#progressbar li{list-style-type:none;color:black;text-transform:uppercase;font-size:9px;width:33.33%;float:left;position:relative}
#progressbar li:before{content:counter(step);counter-increment:step;width:20px;line-height:20px;display:block;font-size:10px;color:#333;background:white;margin:0 auto 5px auto}
#progressbar li:after{content:'';width:100%;height:2px;background:white;position:absolute;left:-50%;top:9px;z-index:-1}
#progressbar li:first-child:after{content:none}
#progressbar li.active:before,
#progressbar li.active:after{background:#27AE60;color:white}
.msp{color:black;font-weight:bold;margin-right:5px;margin-left:5px}
#require_email .action-button{transition:.5s ease-in-out}
#require_email .action-button:hover{text-shadow:-1px 1px 1px black}
input#fname,
input#lname{text-transform:capitalize}
th.h6{padding:2% 5% 1px}
.labelOR{font-family:arial}
.labelOR2{font-family:arial}
.nw2{margin:0em 0em 2em !important}
.title-registerEvents{background:gainsboro;padding:10px;box-shadow:0px 0px 0px 1px}
.holder{padding-right:15px;padding-left:15px}
ul li ul.dropdown{min-width:255px;background:#f2f2f2;display:none;position:absolute;z-index:999;right:0}
.logOut > a{text-decoration:none !important;color:black !important;background:transparent !important;box-shadow:none !important;padding:15px}
.logOut{padding:5px}
.dima-author-box .dima-about-image img{width:150px;height:150px}
.dima-menu li{border-right:none !important}
.d-m{margin-right:-5px;width:220px !important;overflow:hidden;background:#FAF9F5;box-shadow:0px 0px 0px 0px;margin-top:10px;border-right:1px solid #ddd;border-left:1px solid #ddd;border-bottom:1px solid #ddd;border-top:1px solid transparent}
.d-m > li{width:100%;padding-top:5px;text-align:right;border-top:1px solid rgba(221,
221,
221,
0.26);padding-bottom:5px}
.d-m > li:first-child{border-top:1px solid transparent}
.d-m > li > a{width:100%}
.d-m > li:hover{background:white !important}
.d-m > li:hover,
.d-m > li > a:hover{box-shadow:none !important;text-shadow:none !important;text-decoration:none !important;color:black !important;cursor:pointer}
.a_s-2{display:none}
.n-a-u2{display:none !important}
.e-a-r2{display:none}
@media only screen and (max-width:769px){.a_s-2{display:block}
.a_s-1{display:none}
.n-a-u2{display:block !important}
.n-a-u1{display:none !important}
.e-a-r2{display:block !important}
.e-a-r1{display:none !important}
}
@media only screen and (max-width:989px){.d-m > li{font-size:13px !important}
}
@media only screen and (max-width:489px){.d-m > li{font-size:13px !important}
}
.fso{font-size:inherit !important;margin-left:5px}
@media only screen and (max-width:1200px){.d-m{width:180px !important}
}
.more{color:#0079D7 !important}
.modal-dialog{z-index:1500}
.modal-open{overflow:hidden}
.modal{display:none;overflow:auto;overflow-y:scroll;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;-webkit-overflow-scrolling:touch;outline:0}
.modal.fade .modal-dialog{-webkit-transform:translate(0,
-25%);-ms-transform:translate(0,
-25%);transform:translate(0,
-25%);-webkit-transition:-webkit-transform .3s ease-out;-moz-transition:-moz-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out}
.modal.in .modal-dialog{-webkit-transform:translate(0,
0);-ms-transform:translate(0,
0);transform:translate(0,
0)}
.modal-dialog{position:relative;width:auto;margin:10px}
.modal-content{position:relative;background-color:#fff;border:1px solid #999;border:1px solid rgba(0,
0,
0,
.2);border-radius:6px;-webkit-box-shadow:0 3px 9px rgba(0,
0,
0,
.5);box-shadow:0 3px 9px rgba(0,
0,
0,
.5);background-clip:padding-box;outline:0}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}
.modal-backdrop.fade{opacity:0;filter:alpha(opacity=0)}
.modal-backdrop.in{opacity:.5;filter:alpha(opacity=50)}
.modal-header{padding:15px;border-bottom:1px solid #e5e5e5;min-height:16.428571429px}
.modal-header .close{margin-top:-2px}
.modal-title{margin:0;line-height:1.428571429}
.modal-body{position:relative;padding:20px;margin-bottom:-29px}
.modal-footer{margin-top:15px;padding:19px 20px 20px;text-align:right;border-top:1px solid #e5e5e5}
.modal-footer .btn+.btn{margin-left:5px;margin-bottom:0}
.modal-footer .btn-group .btn+.btn{margin-left:-1px}
.modal-footer .btn-block+.btn-block{margin-left:0}
@media (min-width:768px){.modal-dialog{width:600px;margin:30px auto}
.modal-content{-webkit-box-shadow:0 5px 15px rgba(0, 0, 0, .5);box-shadow:0 5px 15px rgba(0, 0, 0, .5)}
.modal-sm{width:300px}
.modal-lg{width:900px}
}
.close{position:relative;top:-2px;right:-21px;color:inherit}
.alert-success{background-color:#dff0d8;border-color:#d6e9c6;color:#3c763d}
.alert-dismissable .close{position:relative;top:-2px;right:-21px;color:inherit}
.alert-success{background-color:#dff0d8;border-color:#d6e9c6;color:#3c763d}
.alert-success hr{border-top-color:#c9e2b3}
.alert-success .alert-link{color:#2b542c}
.alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#31708f}
.alert-info hr{border-top-color:#a6e1ec}
.alert-info .alert-link{color:#245269}
.alert-warning{background-color:#fcf8e3;border-color:#faebcc;color:#8a6d3b}
.close{float:right;font-size:21px;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;opacity:.2;filter:alpha(opacity=20)}
.close:hover,
.close:focus{color:#000;text-decoration:none;cursor:pointer;opacity:.5;filter:alpha(opacity=50)}
button.close{padding:0;cursor:pointer;background:0 0;border:0;-webkit-appearance:none}
.modal-header .close{margin-top:-2px;border:1px solid gray;padding:5px 10px;margin-right:20px;background:rgb(225,
225,
225)}
.bootbox-close-button{margin-top:-10px;margin-right:15px}
ul.home-profile > li > p{font-size:12px;padding-left:5px}
ul.home-profile > li > i{font-size:15px;margin-top:-5px;margin-right:5px}
ul.home-profile > li{padding:9px 0}
.amt_p{float:right}
.quote-content{text-align:left}
.quote-content > p{line-height:1.2em;margin-top:10px}
::-webkit-scrollbar{width:12px}
::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 2px rgba(0,
0,
0,
0.3);border-radius:1px;padding-top:5px}
::-webkit-scrollbar-thumb{border-radius:1px;background:rgba(128,
128,
128,
0.32);-webkit-box-shadow:inset 0 0 2px rgba(0,
0,
0,
0.3)}
.dima-testimonial blockquote:before{display:none}
@media only screen and (min-width:1400px){.g{margin:-5px !important}
}
.btn_size{font-size:16px;font-weight:600;min-width:96px;padding:11px 5px}
.bb{font-weight:bold;color:black;font-family:serif}
.black_{color:black}
.b_r{width:23%;float:right}
@media print{.no-print{display:none}
.left-side,
.header,
.content-header{display:none}
.right-side{margin:0}
}
@media print{.invoice{width:100%;border:0;margin:0;padding:0}
.box{overflow:hidden !important !important}
.invoice-col{float:left;width:33.3333333%}
.table-responsive{overflow:auto}
.table-responsive > .table tr th,
.table-responsive > .table tr td{white-space:normal !important}
}
.name_of_speaker{position:absolute;bottom:15px;left:0;right:0;text-align:center}
.events{min-height:15px !important;display:inline-block;margin-top:-3px !important}
#mainwrapper2 .box{padding-top:0px;cursor:pointer;height:100px;float:left;margin:5px;position:relative;overflow:hidden;width:100px;padding:0px !important;box-shadow:1px 1px 6px 0px #000}
#mainwrapper2 .box >img{width:100%;height:100%}
#mainwrapper2 .box .caption{background-color:rgba(0,
0,
0,
0.8);position:absolute;color:#fff;z-index:100;transition:all 300ms ease-out;-moz-transition:all 300ms ease-out;-o-transition:all 300ms ease-out;-ms-transition:all 300ms ease-out;transition:all 300ms ease-out;left:0}
#mainwrapper2 .box .simple-caption{height:35px;width:100px;display:block;bottom:-40px;line-height:25pt;text-align:center}
#mainwrapper2 .box .simple-caption > p{font-size:10px}
#mainwrapper2 .box:hover .simple-caption{-moz-transform:translateY(-100%);-o-transform:translateY(-100%);transform:translateY(-100%);transform:translateY(-100%)}
#comments{background:#fff}
a:hover,
a:focus,
a:active,
a:visited{text-decoration:none !important}
.fw2 > li{color:rgb(82,
82,
82);padding-left:5%}
@media only screen and (max-width:880px){.pocm{height:45% !important}
}
@media only screen and (max-width:770px){.dima-author-box .dima-about-image{width:100% !important;text-align:center !important}
h4.dima-author-name,
h6.d-a-n{width:100% !important;text-align:center !important;padding-bottom:5px}
h5.dima-author-name{text-align:center}
.social-media.dima-social-author{text-align:center !important}
.social-media.dima-social-author > ul.inline.clearfix > li{float:none !important}
.dima-author-info{text-align:center !important}
.pocm{height:80% !important}
}
.pocm{height:50% !important}
.dima-about-image.overlay{box-shadow:none !important}
.label_field{margin-bottom:0px !important;font-size:12px !important;color:black !important;font-weight:bold !important}
.size_field{padding:9px !important}
.space_field{margin-bottom:-21px !important}
textarea,
select,
input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
input[type="number"],
input[type="url"],
input[type="tel"]{padding:5px !important}
.blog-list-item-description{text-align:left !important}
.stamp_overlay{float:left;margin-top:-74px;margin-left:57px;opacity:0.6;width:45%;transform:rotateZ(-15deg);background:transparent;border:transparent}
@media only screen and (max-width:770px){.stamp_overlay{float:left;margin-top:-74px;margin-left:57px;opacity:0.6;width:25%;transform:rotateZ(-15deg);background:transparent;border:transparent}
ul.float-end.text-end.dima-menu.sf-menu.top1{display:none !important}
ul.float-end.text-end.dima-menu.sf-menu.top2{display:block !important}
}
ul.float-end.text-end.dima-menu.sf-menu.top1{display:block}
ul.float-end.text-end.dima-menu.sf-menu.top2{display:none}
.progress .bar{width:0;height:18px;font-size:12px;color:#fff;text-align:center;text-shadow:0 -1px 0 rgba(0,
0,
0,
0.25);background-color:#0e90d2;background-image:-moz-linear-gradient(top,
#149bdf,
#0480be);background-image:-webkit-gradient(linear,
0 0,
0 100%,
from(#149bdf),
to(#0480be));background-image:-webkit-linear-gradient(top,
#149bdf,
#0480be);background-image:-o-linear-gradient(top,
#149bdf,
#0480be);background-image:linear-gradient(top,
#149bdf,
#0480be);background-image:-ms-linear-gradient(top,
#149bdf,
#0480be);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#149bdf',
endColorstr='#0480be',
GradientType=0);-webkit-box-shadow:inset 0 -1px 0 rgba(0,
0,
0,
0.15);-moz-box-shadow:inset 0 -1px 0 rgba(0,
0,
0,
0.15);box-shadow:inset 0 -1px 0 rgba(0,
0,
0,
0.15);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;-webkit-transition:width .6s ease;-moz-transition:width .6s ease;-ms-transition:width .6s ease;-o-transition:width .6s ease;transition:width .6s ease}
.progress-danger .bar{background-color:#dd514c;background-image:-moz-linear-gradient(top,
#ee5f5b,
#c43c35);background-image:-ms-linear-gradient(top,
#ee5f5b,
#c43c35);background-image:-webkit-gradient(linear,
0 0,
0 100%,
from(#ee5f5b),
to(#c43c35));background-image:-webkit-linear-gradient(top,
#ee5f5b,
#c43c35);background-image:-o-linear-gradient(top,
#ee5f5b,
#c43c35);background-image:linear-gradient(top,
#ee5f5b,
#c43c35);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ee5f5b',
endColorstr='#c43c35',
GradientType=0)}
.progress-warning .bar{background-color:#faa732;background-image:-moz-linear-gradient(top,
#fbb450,
#f89406);background-image:-ms-linear-gradient(top,
#fbb450,
#f89406);background-image:-webkit-gradient(linear,
0 0,
0 100%,
from(#fbb450),
to(#f89406));background-image:-webkit-linear-gradient(top,
#fbb450,
#f89406);background-image:-o-linear-gradient(top,
#fbb450,
#f89406);background-image:linear-gradient(top,
#fbb450,
#f89406);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#fbb450',
endColorstr='#f89406',
GradientType=0)}
.progress-success .bar{background-color:#5eb95e;background-image:-moz-linear-gradient(top,
#62c462,
#57a957);background-image:-ms-linear-gradient(top,
#62c462,
#57a957);background-image:-webkit-gradient(linear,
0 0,
0 100%,
from(#62c462),
to(#57a957));background-image:-webkit-linear-gradient(top,
#62c462,
#57a957);background-image:-o-linear-gradient(top,
#62c462,
#57a957);background-image:linear-gradient(top,
#62c462,
#57a957);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#62c462',
endColorstr='#57a957',
GradientType=0)}
.tabContent{padding:20px}
.btn_margin{margin:1em}
::-webkit-input-placeholder{color:#999}
:-moz-placeholder{color:#999}
::-moz-placeholder{color:#999}
:-ms-input-placeholder{color:#999}
@media (max-width:533px){.signout{display:none !important}
}
@media max-width:767px){.signout{display:none !important}
}
@media (min-width:992px) and (max-width:1199px){.signout{display:none !important}
}
@media (min-width:768px) and (max-width:991px){.signout{display:none !important}
}
@media (max-width:767px){.signout{display:none !important}
}
@media (max-width:480px){.signout{display:none !important}
}
@media (min-width:297px) and (max-width:533px){.signout{display:none !important}
}
@media only screen and (max-width:767px){.or_tab{float:right !important}
}
.plat1,
.plat2,
.gold1,
.gold2,
.silver1,
.silver2{z-index:2000}
.plat{background-image:-moz-linear-gradient(top,
rgb(40,
48,
72),
rgb(133,
147,
152));background-image:-webkit-linear-gradient(top,
rgb(40,
48,
72),
rgb(133,
147,
152));text-shadow:0px 0px 1px rgb(107,
115,
255)}
.gold{background-image:-webkit-linear-gradient(bottom,
rgb(255,
179,
71),
rgb(255,
204,
51));background-image:-moz-linear-gradient(bottom,
rgb(255,
179,
71),
rgb(255,
204,
51));text-shadow:1px 1px 3px rgb(103,
103,
103)}
.silver{background-image:-moz-linear-gradient(top,
rgb(105,
105,
105),
rgb(210,
210,
210));background-image:-webkit-linear-gradient(top,
rgb(105,
105,
105),
rgb(210,
210,
210));background-color:rgb(255,
255,
255);text-shadow:1px 1px 3px rgb(103,
103,
103)}
.table>tbody>tr>td{border-left:1px solid #ddd;border-right:1px solid #ddd}
.spont{margin-left:1px !important}
.sponsor1{display:block}
.sponsor2{display:none}
.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th{background-color:#f5f5f5;color:black}
@media only screen and (max-width:767px){.sponsor1{display:none}
.sponsor2{display:block}
}
tr:last-child > td{border-bottom:1px solid #ddd}
.thtr{color:white;font-weight:bold;font-size:150%}
.sp{color:#333333;text-align:left}
.plat1 > thead > tr{color:black}
.cs1{display:none}
@media only screen and (max-width:767px){.cs1{display:block}
.cs2{display:none}
}
.container.page-section.text-center{margin-top:44px;margin-bottom:-44px}
.background-image-hide{width:285%}
@media only screen and (max-width:530px){.background-image-hide{right:-110%}
}
p.title{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;padding:0 5px}
#wrapper_profile_pic .submit_btn{width:100%;bottom:21px;border:none;background:rgba(0,
0,
0,
0.6);color:white}
@media only screen and (min-width:304px) and (max-width:308px){#wrapper_profile_pic{width:auto !important;margin-left:29% !important}
}
@media only screen and (min-width:309px) and (max-width:412px){#wrapper_profile_pic{width:auto !important;margin-left:33%;float:left}
}
@media only screen and (min-width:413px) and (max-width:539px){#wrapper_profile_pic{width:auto !important;margin-left:38%;float:left}
}
@media only screen and (min-width:540px) and (max-width:767px){#wrapper_profile_pic{width:auto !important;margin-left:42%;float:left}
}
@media only screen and (min-width:540px) and (max-width:710px){.up{display:block !important;margin-left:0em !important;width:100% !important;height:24em !important}
}
@media only screen and (max-width:400px){.up{display:block !important;margin-left:0em !important;width:100% !important;height:18em !important}
.seal_div_12{display:-webkit-box !important}
.seal_div_12_{display:-webkit-box !important}
.seal_div_6_trustwave{width:62% !important}
.seal_div_6_authorize{width:39% !important;margin-left:5px !important}
.seal_div_12_r{margin-top:-2em !important;margin-bottom:6em !important;display:-webkit-box !important}
.seal_div_6_trustwave_r{width:56% !important}
.seal_div_6_authorize_r{width:33% !important;margin-left:10px !important}
.btn_event_r_submit{width:100% !important}
.box_seal_r{margin-top:-2em !important;width:100% !important;margin-bottom:6em !important}
.btn_event_r_cancel{width:100% !important}
}
@media only screen and (min-width:720px) and (max-width:1130px){.up{display:block !important;margin-left:1em !important;width:50% !important;height:18em !important}
}
@media only screen and (max-width:770px){#wrapper_profile_pic{width:auto !important}
}
@media only screen and (min-width:768px) and (max-width:769px){.di_3_of_5{margin-left:0% !important;margin-top:0% !important}
.n-a-u2{margin-left:59% !important}
.dima-main{margin-top:-6% !important}
#wrapper_profile_pic{width:auto !important}
.e-a-r2{position:absolute;margin-left:62%}
.a_s-2{margin-top:-3.7%;margin-bottom:4%;width:58.8% !important}
.poc_media_on_768Width{margin-left:0px !important;width:40.6% !important;margin-top:-4% !important;float:right !important}
}
@font-face{font-family:'AvenirNextLTPro-UltLtCn';src:url("../fonts/AvenirNextLTPro-UltLtCn.eot?v=4.2.0");src:url("../fonts/AvenirNextLTPro-UltLtCn.eot?v=4.2.0#iefix") format("embedded-opentype"),
url("../fonts/AvenirNextLTPro-UltLtCn.woff?v=4.2.0") format("woff"),
url("../fonts/AvenirNextLTPro-UltLtCn.ttf?v=4.2.0") format("truetype"),
url("../fonts/AvenirNextLTPro-UltLtCn.svg?v=4.2.0") format("svg");font-weight:normal;font-style:normal}
@font-face{font-family:'AvenirNextLTPro-Cn';src:url("../fonts/AvenirNextLTPro-Cn.eot?v=4.2.0");src:url("../fonts/AvenirNextLTPro-Cn.eot?v=4.2.0#iefix") format("embedded-opentype"),
url("../fonts/AvenirNextLTPro-Cn.ttf?v=4.2.0") format("truetype"),
url("../fonts/AvenirNextLTPro-Cn.svg?v=4.2.0#AvenirNextLTPro-Cn") format("svg");font-weight:normal;font-style:normal}
@font-face{font-family:'BEBAS';src:url("../fonts/BEBAS___.eot?v=4.2.0");src:url("../fonts/BEBAS___.eot?v=4.2.0#iefix") format("embedded-opentype"),
url("../fonts/BEBAS___.woff?v=4.2.0") format("woff"),
url("../fonts/BEBAS___.ttf?v=4.2.0") format("truetype"),
url("../fonts/BEBAS___.svg?v=4.2.0#BEBAS") format("svg");font-weight:normal;font-style:normal}
@font-face{font-family:'AvenirNextLTPro-DemiCn';src:url("../fonts/AvenirNextLTPro-DemiCn.eot?v=4.2.0");src:url("../fonts/AvenirNextLTPro-DemiCn.eot?v=4.2.0#iefix") format("embedded-opentype"),
url("../fonts/AvenirNextLTPro-DemiCn.woff?v=4.2.0") format("woff"),
url("../fonts/AvenirNextLTPro-DemiCn.ttf?v=4.2.0") format("truetype"),
url("../fonts/AvenirNextLTPro-DemiCn.svg?v=4.2.0#BEBAS") format("svg");font-weight:normal;font-style:normal}
.Font-AvenirUltLtCn{font-family:'AvenirNextLTPro-UltLtCn' !important;font-weight:initial !important;font-style:initial !important;color:black !important;font-size:15px}
.Font-Bebas{font-family:'BEBAS' !important;font-weight:initial !important;font-style:initial !important;color:black !important;font-size:15px}
.Font-AvenirCn{font-family:'AvenirNextLTPro-Cn' !important;font-weight:initial !important;font-style:initial !important;color:black !important;font-size:15px}
.AvenirNextLTPro-DemiCn{font-family:'AvenirNextLTPro-DemiCn' !important;font-weight:initial !important;font-style:initial !important;color:white !important;font-size:15px}
li{font-family:'AvenirNextLTPro-Cn' !important;font-weight:initial !important;font-style:initial !important;color:black !important;font-size:15px}
p{font-family:'AvenirNextLTPro-Cn' !important;font-weight:initial !important;font-style:initial !important;color:black !important;font-size:15px;}
td{font-family:'AvenirNextLTPro-Cn' !important;font-weight:initial !important;font-style:initial !important;color:black !important;font-size:15px}
.copyright.dima-center-full > p{color:white !important}
h5{font-family:'AvenirNextLTPro-DemiCn' !important;font-weight:initial !important;font-style:initial !important;color:black !important;font-size:15px}
h4{font-family:'AvenirNextLTPro-DemiCn' !important;font-weight:initial !important;font-style:initial !important;color:black !important;}
h3{font-family:'AvenirNextLTPro-DemiCn' !important;font-weight:initial !important;font-style:initial !important;color:black !important;}
h2{font-family:'AvenirNextLTPro-DemiCn' !important;font-weight:initial !important;font-style:initial !important;color:black !important;}
.ul_list{min-width:260px !important;float:left;margin-left:1em;margin-bottom:1em}
.ul_list_e{min-width:29em !important;float:left;margin-left:1em;margin-bottom:1em}
.ul_list_u{float:left;margin-left:1em;margin-bottom:1em}
.ul_list_s{min-width:22em !important;float:left;margin-left:1em;margin-bottom:-2em}
#image_events .image_events_item div{padding:5px}
#image_events .image_events_item img{display:block;width:100%;height:auto;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
@media only screen and (max-width:1142px){.ul_list{display:block !important;margin:0em}
}
@media only screen and (max-width:1142px){.top_{display:block !important;margin-top:-7em !important}
}
@media only screen and (max-width:1142px){.bottom_{display:block !important;margin-bottom:9em !important}
.btn_{width:100% !important}
.add2{margin-top:55px !important}
.btn_cancel_spkr{margin-top:1em !important}
}
@media print{.no-print{display:none}
}
@media screen and (-webkit-min-device-pixel-ratio:0){.imgs > img{float:left}
.simple-caption{-webkit-transition:ease-in-out .5s}
}
@media only screen and (-webkit-min-device-pixel-ratio:1){::i-block-chrome,
h1,
h2,
h3,
h4,
h5,
h6{word-spacing:5px !important}
}
.addthisevent_icon{background-color:#F2F8FD !important}
legend{font-weight:bold;font-family:'AvenirNextLTPro-Cn' !important}
.serv{display:block}
.sideb{display:none}
.serv2{display:none}
.sideb2{display:block}
.topPhone{display:block !important}
.topPhone2{display:none !important}
@media only screen and (max-width:800px){.serv{display:none}
.sideb{display:block}
.serv2{display:block}
.sideb2{display:block}
.btn__{padding-left:5% !important;margin-bottom:5em !important}
.topPhone{display:none !important}
.topPhone2{display:block !important}
}
.update_db_btn{background-color:#0079D7 !important}
.p_break{text-align:justify !important;-webkit-hyphens:manual !important;margin-right:6px}
.click_here_to_joinBtn:hover{color:#fff;background-color:#39b3d7 !important;border-color:#269abc !important}
@media only screen and (max-width:989px){.dima-topbar ul:last-child{display:block}
}
.skyblue{background-color:rgb(91,
192,
222);color:black;padding:5px;border:1px solid black;font-size:20px;text-align:center;margin:0 auto;margin-bottom:25px;width:80%;line-height:1em}
.cleaner15{margin-bottom:15px}