.poc_img_bg{
    background: #eee url('../mass_email/bg-diagonal-stripe.png');
}
.poc_img_placeholder{
    text-align: center;
    background: url('../mass_email/icon-placeholder-image.png') center center no-repeat;
    cursor: pointer;
    position: relative;
}
.poc_imgtag .poc_outline{
    border: 2px solid rgb(0, 121, 215);
    z-index: 15;
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    -webkit-box-shadow: 0 0 7px rgb(0, 121, 215);
    -moz-box-shadow: 0 0 7px rgb(0, 121, 215);
    box-shadow: 0 0 7px rgb(0, 121, 215);
}
.poc_imgtag:hover .poc_outline{
    display:block
}
.poc_imgtag{
    position: relative;
}

.actions-icon .a-icon-del:hover{
    color: #424242;
}

.actions-icon .a-icon-edit:hover{
    color: #424242;
}

.poc-btntag{
    position: relative;
    cursor: pointer;
}

.poc-btntag .poc_outline{
    border: 2px solid rgb(0, 121, 215);
    z-index: 15;
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    -webkit-box-shadow: 0 0 7px rgb(0, 121, 215);
    -moz-box-shadow: 0 0 7px rgb(0, 121, 215);
    box-shadow: 0 0 7px rgb(0, 121, 215);
}
.poc-btntag:hover .poc_outline{
    display:block
}
.poc-texttag{
    position: relative;
   
}
.poc-texttag .poc_outline{
    border: 2px solid rgb(0, 121, 215);
    z-index: 15;
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    -webkit-box-shadow: 0 0 7px rgb(0, 121, 215);
    -moz-box-shadow: 0 0 7px rgb(0, 121, 215);
    box-shadow: 0 0 7px rgb(0, 121, 215);
}
.poc-texttag:hover .poc_outline{
    display:block
}

.poc-drop-here{
    position: relative;
    font-size: 12px;
    color: #0C4FB0;   
}

.poc-dividertag{
    position: relative;
   
}
.poc-dividertag .poc_outline{
    border: 2px solid rgb(0, 121, 215);
    z-index: 15;
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    -webkit-box-shadow: 0 0 7px rgb(0, 121, 215);
    -moz-box-shadow: 0 0 7px rgb(0, 121, 215);
    box-shadow: 0 0 7px rgb(0, 121, 215);
}
.poc-dividertag:hover .poc_outline{
    display:block
}

.poc-content-block{
    word-wrap:break-word
}

.poc-combo-block .image-position-right.text-wrap .poc-combo-block-imageHolder{
    float:right;
    margin:0
}

.poc-combo-block .image-position-left.text-wrap .poc-combo-block-imageHolder{
    float:left;
    margin:0
}

.poc-combo-block .text-wrap .poc-combo-block-content{
    display:block;
    float:none
}
.poc-combo-block .text-wrap .poc-combo-block-imageHolder{
    display:block;
    float:left;
    margin:0
}
.poc-combo-block .text-wrap .text-content{
    float:none;
    width:auto
}
.poc-combo-block .poc-combo-block-content{
    display:block;
    float:left
}
.poc-image-holder-wrapper{
    background:#eee url('../mass_email/bg-diagonal-stripe.png');
    position:relative;
    cursor:pointer;
    background:0
}
.poc-content-block .poc-content-block-outline{
    border: 2px solid rgb(0, 121, 215);
    z-index: 15;
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    -webkit-box-shadow: 0 0 7px rgb(0, 121, 215);
    -moz-box-shadow: 0 0 7px rgb(0, 121, 215);
    box-shadow: 0 0 7px rgb(0, 121, 215);
}
.poc-content-block:hover .poc-content-block-outline{
    display:block
}
.poc-content-block{
    position:relative;
    overflow:visible;
    width:100%;
    float:left;
    clear:both
}

.div-element{
    position:relative;
    overflow:visible;
    cursor: -webkit-grab;
}

.div-element:hover .text-element-img {
    background: #DDD;
}
.div-element:hover .img-element-img {
    background: #DDD;
}
.div-element:hover .left-element-img {
    background: #DDD;
}
.div-element:hover .right-element-img {
    background: #DDD;
}
.div-element:hover .divider-element-img {
    background: #DDD;
}
.div-element:hover .btn-element-img {
    background: #DDD;
}

.draggableContainer.poc-active .poc-drop-zone-text{
    display: block !important;
    background: url('../icons/arrow-right2.png') left 0 no-repeat;
        height: 18px;
}
/*.draggableContainer{height:0;position:relative;clear:both;left:0}

.draggableContainer.e2ma-drop-zone-hover{opacity:1}
.draggableContainer.e2ma-drop-zone-hover .e2ma-drop-zone-text{opacity:1;z-index:31;height:40px;left:-18px}
.draggableContainer.e2ma-drop-zone-hover .e2ma-drop-zone-dropper{left:-18px}
.draggableContainer.e2ma-active .e2ma-drop-zone-dropper:after{left:auto;right:-12px}
.e2ma-drop-zone-text{
        overflow:hidden;
        z-index:40;
        height:0;
        -webkit-transform:translateZ(0);
        transform:translateZ(0);
        position:absolute;
        top:-21px;
        right:18px;
        bottom:0;
        left:-18px;
        -webkit-backface-visibility:hidden;
        backface-visibility:hidden;
        -webkit-transition:.3s linear;
        -moz-transition:.3s linear;
        transition:.3s linear;
        -webkit-transition-property:width,left,opacity;
        -moz-transition-property:width,left,opacity;
        transition-property:width,left,opacity
    }
    .e2ma-drop-zone-dropper{
        opacity:0;
        z-index:30;
        height:0;
        background:transparent url(/media/images2/mailing-create/editor/bg-drop-zone.png) left 0 no-repeat;
        position:absolute;
        top:-21px;
        right:18px;
        left:0;
        -webkit-transition:.3 linear;
        -moz-transition:.3 linear;
        transition:.3 linear;
        -webkit-transition-property:left,opacity;
        -moz-transition-property:left,opacity;
        transition-property:left,opacity
    }
    .e2ma-drop-zone-dropper.e2ma-active{
        height:40px!important;
        right:18px;
        left:-18px;
        top:-21px;
        background:transparent url(/media/images2/mailing-create/editor/bg-drop-zone.png) left 0 no-repeat;
        opacity:1
    }
    .e2ma-drop-zone-dropper.is-transitioning{height:40px!important}
    */
    