

#sidebar .widget.widget_social .social-icons {
    position: relative;
    display: inline-block;
    font-size: 0;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

#sidebar .widget.widget_social .social-icons li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: none;
    margin-right: 0.4375rem;
    margin-bottom: 0.4375rem;
}

#sidebar .widget.widget_social .social-icons li a {
    display: block;
    width: 2.8125rem;
    height: 2.8125rem;
    cursor: pointer;
    text-align: center;
}

#sidebar .widget.widget_social .social-icons li a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 45px;
    background-color: #fff;
    color: #b4b4b4;
    content: "";
    font-family: 'fontello';
    font-size: 1.25rem;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

#sidebar .widget.widget_social .social-icons li.twitter a:before {
    content: "\e986";
}

#sidebar .widget.widget_social .social-icons li.twitter a:hover:before {
    background-color: #47c0d8;
    color: #fff;
}

#sidebar .widget.widget_social .social-icons li.facebook a:before {
    content: "\ea85";
}

#sidebar .widget.widget_social .social-icons li.facebook a:hover:before {
    background-color: #49699f;
    color: #fff;
}

#sidebar .widget.widget_social .social-icons li.linkedin a:before {
    content: "\ea8e";
}

#sidebar .widget.widget_social .social-icons li.linkedin a:hover:before {
    background-color: #2c7cb7;
    color: #fff;
}

#sidebar .widget.widget_social .social-icons li.rss a:before {
    content: "\e88d";
}

#sidebar .widget.widget_social .social-icons li.rss a:hover:before {
    background-color: #fe9900;
    color: #fff;
}

#sidebar .widget.widget_social .social-icons li.pinterest a:before {
    content: "\ede9";
}

#sidebar .widget.widget_social .social-icons li.pinterest a:hover:before {
    background-color: #c21c21;
    color: #fff;
}

#sidebar .widget.widget_social .social-icons li.gplus a:before {
    content: "\e974";
}

#sidebar .widget.widget_social .social-icons li.gplus a:hover:before {
    background-color: #c33d19;
    color: #fff;
}

#sidebar .widget.widget_social .social-icons li.instagram a:before {
    content: "\ea9b";
}

#sidebar .widget.widget_social .social-icons li.instagram a:hover:before {
    background-color: #517fa3;
    color: #fff;
}

#sidebar .widget.widget_social .social-icons li.dribbble a:before {
    content: "\e969";
}

#sidebar .widget.widget_social .social-icons li.dribbble a:hover:before {
    background-color: #e65992;
    color: #fff;
}

#sidebar .widget.widget_social .social-icons li.dropbox a:before {
    content: "\e96a";
}

#sidebar .widget.widget_social .social-icons li.dropbox a:hover:before {
    background-color: #5da3e8;
    color: #fff;
}

#sidebar .widget.widget_social .social-icons li.youtube a:before {
    content: "\e98d";
}

#sidebar .widget.widget_social .social-icons li.youtube a:hover:before {
    background-color: #b72d24;
    color: #fff;
}

#sidebar .widget.widget_social .social-icons li.blogger a:before {
    content: "\ee56";
}

#sidebar .widget.widget_social .social-icons li.blogger a:hover:before {
    background-color: #f38f33;
    color: #fff;
}

#sidebar .widget.widget_social .social-icons li.evernote a:before {
    content: "\ea9d";
}

#sidebar .widget.widget_social .social-icons li.evernote a:hover:before {
    background-color: #73b122;
    color: #fff;
}

#sidebar .widget.widget_social .social-icons li.behance a:before {
    content: "\eaa7";
}

#sidebar .widget.widget_social .social-icons li.behance a:hover:before {
    background-color: #18a3fe;
    color: #fff;
}

#sidebar .widget.widget_social .social-icons li.skype a:before {
    content: "\e97f";
}

#sidebar .widget.widget_social .social-icons li.skype a:hover:before {
    background-color: #24b0e4;
    color: #fff;
}

#sidebar .widget.widget_social .social-icons li.vimeo a:before {
    content: "\ea81";
}

#sidebar .widget.widget_social .social-icons li.vimeo a:hover:before {
    background-color: #568799;
    color: #fff;
}

#sidebar .widget.widget_social .social-icons li.digg a:before {
    content: "\edf3";
}

#sidebar .widget.widget_social .social-icons li.digg a:hover:before {
    background-color: #2882c6;
    color: #fff;
}

#sidebar .widget.widget_social .social-icons li.appstore a:before {
    content: "\edf8";
}

#sidebar .widget.widget_social .social-icons li.appstore a:hover:before {
    background-color: #606060;
    color: #fff;
}

#sidebar .widget.widget_social .social-icons li.wordpress a:before {
    content: "\ee29";
}

#sidebar .widget.widget_social .social-icons li.wordpress a:hover:before {
    background-color: #33759d;
    color: #fff;
}

#sidebar .widget.widget_social .social-icons li.stubleupon a:before {
    content: "\ef76";
}

#sidebar .widget.widget_social .social-icons li.stubleupon a:hover:before {
    background-color: #eb4924;
    color: #fff;
}

#sidebar .widget.widget_social .social-icons li.deviantart a:before {
    content: "\ee58";
}

#sidebar .widget.widget_social .social-icons li.deviantart a:hover:before {
    background-color: #5f7162;
    color: #fff;
}

#sidebar .widget.widget_social .social-icons li.github a:before {
    content: "\e96f";
}

#sidebar .widget.widget_social .social-icons li.github a:hover:before {
    background-color: #7292a2;
    color: #fff;
}

#sidebar .widget.widget_social .social-icons li.email a:before {
    content: "\e826";
}

#sidebar .widget.widget_social .social-icons li.email a:hover:before {
    background-color: #65a413;
    color: #fff;
}

#sidebar .widget.widget_social .social-icons li.cv a:before {
    content: "\ec9e";
}

#sidebar .widget.widget_social .social-icons li.cv a:hover:before {
    background-color: #424246;
    color: #fff;
}

#sidebar .widget.widget_social .social-icons li.flickr a:before {
    content: "\ea7f";
}

#sidebar .widget.widget_social .social-icons li.flickr a:hover:before {
    background-color: #e82c88;
    color: #fff;
}

#sidebar .widget.widget_social .social-icons > li:nth-child(7n) {
    margin-right: 0;
}

#sidebar .widget.widget_categories .widget-title {
    display: none;
}

#sidebar .widget.widget_categories ul:not(.children) {
    position: relative;
    background-color: #11547b;
    padding: 0.9375rem 1.25rem;
}

#sidebar .widget.widget_categories ul:not(.children) ul {
    padding-left: 0.9375rem;
}

#sidebar .widget.widget_categories ul:not(.children) ul li:after {
    display: none;
}

#sidebar .widget.widget_categories ul:not(.children) li {
    position: relative;
    padding: 0.375rem 0;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: rgba(250, 250, 250, 0.2);
}

#sidebar .widget.widget_categories ul:not(.children) li:after {
    position: absolute;
    top: 4px;
    right: 0;
    font-family: 'fontello';
    font-size: 1rem;
    color: #fff;
    content: '\eb4d';
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-transition: -webkit-transform 0.35s ease, opacity 0.35s ease;
    -moz-transition: -moz-transform 0.35s ease, opacity 0.35s ease;
    -ms-transition: transform 0.35s ease, opacity 0.35s ease;
    transition: transform 0.35s ease, opacity 0.35s ease;
}

#sidebar .widget.widget_categories ul:not(.children) li:hover:after {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

#sidebar .widget.widget_categories ul:not(.children) li:last-child {
    border-bottom: none;
}

#sidebar .widget.widget_categories ul:not(.children) li a {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.35s ease, opacity 0.35s ease;
    -moz-transition: -moz-transform 0.35s ease, opacity 0.35s ease;
    -ms-transition: transform 0.35s ease, opacity 0.35s ease;
    transition: transform 0.35s ease, opacity 0.35s ease;
}

#sidebar .widget.widget_categories ul:not(.children) li:hover a {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}

#sidebar .widget.widget_categories ul:not(.children) li:hover ul li a {
    -webkit-transform: none;
    transform: none;
}

#sidebar .widget.widget_categories ul:not(.children):after {
    bottom: 15px;
    right: 6px;
    left: auto;
    width: 50%;
    height: 30px;
    max-width: 300px;
    background: #7e7e7e;
    z-index: -1;
    position: absolute;
    content: "";
    -webkit-box-shadow: 0 16px 6px #7e7e7e;
    -moz-box-shadow: 0 16px 6px #7e7e7e;
    -ms-box-shadow: 0 16px 6px #7e7e7e;
    box-shadow: 0 16px 6px #7e7e7e;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
}

.widget.widget_metro_style {
    margin-bottom: 1.25rem;
}

.widget.widget_metro_style .metro_container {
    margin: -0.625rem;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
}

.widget.widget_metro_style .metro_container li {
    overflow: hidden;
    -webkit-box-flex: 1 1 160px;
    -moz-box-flex: 1 1 160px;
    -webkit-flex: 1 1 160px;
    -ms-flex: 1 1 160px;
    flex: 1 1 160px;
    position: relative;
    margin: 0.625rem;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.5s linear;
    -moz-transition: -moz-transform 0.5s linear;
    -ms-transition: transform 0.5s linear;
    transition: transform 0.5s linear;
}

.widget.widget_metro_style .metro_container li:hover {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

.widget.widget_metro_style .metro_container li a {
    display: table;
    padding: 1.25rem;
    position: relative;
    width: 100%;
    height: 145px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.875rem;
    overflow: hidden;
    line-height: 1.3;
}

.widget.widget_metro_style .metro_container li a:not([class^="icon-"]) span {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.widget.widget_metro_style .metro_container li a span,
.widget.widget_metro_style .metro_container li a i {
    width: 100%;
    position: relative;
    z-index: 1;
    opacity: 0;
    font-style: normal;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    -webkit-transform: translate(-50%, -50%) scale(5);
    -moz-transform: translate(-50%, -50%) scale(5);
    -o-transform: translate(-50%, -50%) scale(5);
    -ms-transform: translate(-50%, -50%) scale(5);
    transform: translate(-50%, -50%) scale(5);
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
    -ms-transition: transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.widget.widget_metro_style .metro_container li a i {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 2;
    padding: 1.25rem;
}

.widget.widget_metro_style .metro_container li a:hover:before {
    width: 100%;
    height: 100%;
    font-size: 15rem;
    opacity: 0;
}

.widget.widget_metro_style .metro_container li a:hover span,
.widget.widget_metro_style .metro_container li a:hover i {
    opacity: 1;
}

.widget.widget_metro_style .metro_container li a:hover i {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

.widget.widget_metro_style .metro_container li a:hover:not([class^="icon-"]) span,
.widget.widget_metro_style .metro_container li a:hover[class^="icon-"] span {
    opacity: 0;
}

.widget.widget_metro_style .metro_container li a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 145px;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
    font-family: 'fontello';
    font-size: 3.125rem;
    -webkit-transition: font-size 0.5s ease, opacity 0.5s ease;
    -moz-transition: font-size 0.5s ease, opacity 0.5s ease;
    -ms-transition: font-size 0.5s ease, opacity 0.5s ease;
    transition: font-size 0.5s ease, opacity 0.5s ease;
}

.widget.widget_subscription p {
    font-size: 0.75rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #b4b4b4;
}

.widget.widget_subscription .subscription-form .submit.middle {
    padding: 0.875rem 1.75rem;
}

.widget.widget_subscription .subscription-form .submit.mail-icon:after {
    margin: -11px 0 0 -9px;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.widget.widget_subscription .subscription-form .submit.mail-icon:hover {
    background-color: #fff;
    border-color: transparent;
}

.widget.widget_subscription .subscription-form .submit.mail-icon:hover:after {
    color: #004887;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}