body
	{
 		background: #f5f5f5;
	    color: black;
	    font-family: 'Open Sans', sans-serif;
	    font-weight: 300;
	    overflow-x: hidden;
	}
	
a {
	color: #47C6F8;
}
	
a:hover {
	color: #0FF;
}

a.s_m:hover {
	color: #0FF !important;
}

/* start h2 */
h2
	{
		text-align: center;
		font-size: 40px;
		padding-bottom: 40px;
	}	
h2 span
	{
		color: #134a69;
		font-weight: bold;
	}
/* end h2 */

/* start summary speakers fees agenda contact */
#fees,
#agenda, #contact, #sponsors, #speaker
	{
		padding-top: 40px;
    	padding-bottom: 0px;
	}
#speakers {
		padding-top: 20px;
	    padding-bottom: 20px;
	}
/* end summary speakers fees agenda contact */

/* start preloader */
.preloader
	{
		position: fixed;
  		top: 0;
  		left: 0;
  		width: 100%;
  		height: 100%;
  		z-index: 99999;
  		display: -webkit-box;
  		display: -webkit-flex;
  		display: -ms-flexbox;
  		display: flex;
  		-webkit-flex-flow: row nowrap;
  		    -ms-flex-flow: row nowrap;
  		        flex-flow: row nowrap;
  		-webkit-box-pack: center;
  		-webkit-justify-content: center;
  		    -ms-flex-pack: center;
  		        justify-content: center;
  		-webkit-box-align: center;
  		-webkit-align-items: center;
  		    -ms-flex-align: center;
  		        align-items: center;
  		background: none repeat scroll 0 0 #ffffff;
	}
.sk-spinner-wave.sk-spinner 
	{
  		width: 50px;
  		height: 30px;
  		text-align: center;
  		font-size: 10px; 
  	}
.sk-spinner-wave div 
	{
  		background-color: #333;
  		height: 100%;
  		width: 6px;
  		display: inline-block;
         -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
                 animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
         
    }
.sk-spinner-wave .sk-rect2 
	{
          -webkit-animation-delay: -1.1s;
                  animation-delay: -1.1s; 
      }
.sk-spinner-wave .sk-rect3 
	{
          -webkit-animation-delay: -1s;
                  animation-delay: -1s; 
     }
.sk-spinner-wave .sk-rect4 
	{
          -webkit-animation-delay: -0.9s;
                  animation-delay: -0.9s;
     }
.sk-spinner-wave .sk-rect5 
	{
          -webkit-animation-delay: -0.8s;
                  animation-delay: -0.8s; 
     }

@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
            -webkit-transform: scaleY(0.4);
                    transform: scaleY(0.4); }

  20% {
            -webkit-transform: scaleY(1);
                    transform: scaleY(1); } }

@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
            -webkit-transform: scaleY(0.4);
                    transform: scaleY(0.4); }

  20% {
            -webkit-transform: scaleY(1);
                    transform: scaleY(1); } }
/* end preloader */

/* start header */
header
	{
		min-height: 20px;
		padding-top: 18px;
		padding-bottom: 10px;
	}
header .fa
	{
		color: #28a7e9;
	}
header span
	{
		font-weight: bold;
		padding-right: 10px;
		padding-left: 4px;
	}
header a
	{
		color: #999;
		font-weight: 600;
	}
header .social-icon
	{
		text-align: right;
	}
header .social-icon li a
	{
		border: none;
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
	}
/* end header */

/* start nagivation */
.navbar-default
	{
		background: white;
		border: none;
		box-shadow: none;
		margin: 0 !important;
	}
.navbar-default .navbar-brand
	{
		font-weight: 500;
		font-size: 30px;
		height: 70px;
		line-height: 40px;
		padding: 12px 0px 0px 12px;
	}
.navbar-default .navbar-nav li a
	{
		display:block;
		font-weight: bold;
		font-size: 13px;
		padding: 10px 30px;
	}
.navbar-default .navbar-nav>li>a:hover{color:#134a69;background-color:transparent}

.navbar-default .navbar-nav > li > a.current { 
	color: #28A7E9; 
}
.templatemo-nav {
	border-radius: 0;	
	width: 100%;
	z-index: 1000;
}
.sticky {	
	position: fixed;
	left: 0;
	top: 0;	
}
.navbar-default .navbar-nav>li>a {
	color: #000000ab ;
	border-right: 1px solid #000000;
}
/* end navigation */

/* start home */
#home
	{
		background-size: cover;
		
	}
#home h1
	{
		font-weight: 300;
		font-size: 70px;
		padding-bottom: 10px;
	}
#home h1 span
	{
		color: #28a7e9;
		font-weight: bold;
	}
#home .btn
	{
		background: transparent;
		border-radius: 2px;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		margin-top: 20px;
		width: 180px;
		height: 60px;
		padding-top: 18px;
		-webkit-transition: all 0.4s ease-in-out;
		        transition: all 0.4s ease-in-out;
	}
#home .btn:hover
	{
		background: #28a7e9;
		border-color: transparent;
	}
.element {
	height: 60px;
	font-size: 16px;
}
/* end home */

/* start summary */
#summary .media-heading-wrapper
	{
		padding-bottom: 10px;
	}
#summary .media-heading-wrapper .fa
	{
		/*border: 1px solid #fff;
		border-radius: 2px;*/
		color: #000;
		font-size: 24px;
		width: 60px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		margin-bottom: 20px;
		margin-right: 20px;
	}
#summary .media-heading-wrapper h3
	{
		font-size: 18px;
		font-weight: bold;
		padding-top: 20px;
		padding-left: 52px;
	}
/* end summary */

/* start speakers */
#speakers .speakers-wrapper
	{
		background: #404040;
		padding-bottom: 10px;
		-webkit-transition: all 0.4s ease-in-out;
		        transition: all 0.4s ease-in-out;
		position: relative;
	}
#speakers .speakers-wrapper:hover
	{
		cursor: pointer;
		opacity: 0.4;
		bottom: 4px;
	}
#speakers .speakers-wrapper .speakers-des
	{
		padding: 20px;
	}
#speakers .speakers-wrapper .speakers-des span
	{
		color: #28a7e9;
		display: block;
		font-weight: bold;
		padding-bottom: 12px;
	}
/* end speakers */

/* start fees */
#fees .col-md-4
	{
		padding: 40px;
		-webkit-transition: all 0.4s ease-in-out;
		        transition: all 0.4s ease-in-out;
	}
#fees .col-md-10:hover
	{
		background: #505050;
	}
#fees .active
	{
		background: #505050;
		padding: 40px;
	}
#fees .fa
	{
		border: 1px solid #fff;
		border-radius: 2px;
		color: #fff;
		font-size: 50px;
		width: 100px;
		height: 100px;
		line-height: 100px;
		text-align: center;
	}
#fees h4
	{
		color: #28a7e9;
		font-weight: 600;
		padding-top: 10px;
		padding-bottom: 14px;
	}
#fees .table-hover>tbody>tr:hover{
	background-color: #777 !important;
}
/* end fees */

/* start sponsors */
#sponsors
	{
		padding-bottom: 80px;
	}
#sponsors .col-md-3
	{
		padding: 0px;
	}
	.sponsors-thumb, 
	.sponsors-overlay {
		max-width: 450px;
	}
#sponsors .sponsors-thumb
	{
		overflow: hidden;
		padding: 0;
		margin: 0 auto;
		margin-left: 5px;
	}
#sponsors .sponsors-thumb .sponsors-overlay
	{
		background: #28a7e9;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;	
		width: 100%;
		height: 100%;
		opacity: 0;
		position: absolute;
		padding: 20px 10px 20px 20px;
		margin-left: auto;
		margin-right: auto;
		-webkit-transition: all 0.4s ease-in-out;
		        transition: all 0.4s ease-in-out;
	}
#sponsors .sponsors-thumb .sponsors-overlay h4
	{
		font-weight: bold;
		padding-bottom: 10px;
	}
#sponsors .sponsors-thumb .sponsors-overlay .btn
	{
		background: none;
		border: 1px solid #fff;
		border-radius: 2px;
		color: #fff;
		font-weight: bold;
	}
#sponsors .sponsors-thumb:hover .sponsors-overlay
	{
		cursor: pointer;
		opacity: 0.8;
	}
/* end sponsors */

/* start agenda */
#agenda
	{
		padding-bottom: 80px;
	}
#agenda .col-md-3
	{
		padding: 0px;
	}
	.agenda-thumb, 
	.agenda-overlay {
		max-width: 450px;
	}
#agenda .active
	{
		padding: 40px;
    	border: 2px solid #887d7d52;
	}
#agenda .agenda-thumb
	{
		overflow: hidden;
		padding: 0;
		margin: 0 auto;
	}
#agenda .agenda-thumb .agenda-overlay
	{
		background: #28a7e9;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;	
		width: 100%;
		height: 100%;
		opacity: 0;
		position: absolute;
		padding: 20px 10px 20px 20px;
		margin-left: auto;
		margin-right: auto;
		-webkit-transition: all 0.4s ease-in-out;
		        transition: all 0.4s ease-in-out;
	}
#agenda .agenda-thumb .agenda-overlay h4
	{
		font-weight: bold;
		padding-bottom: 10px;
	}
#agenda .agenda-thumb .agenda-overlay .btn
	{
		background: none;
		border: 1px solid #fff;
		border-radius: 2px;
		color: #fff;
		font-weight: bold;
	}
#agenda .agenda-thumb:hover .agenda-overlay
	{
		cursor: pointer;
		opacity: 0.8;
	}
/* end agenda */

/* start contact */
#contact
	{
		background: #202020;
	}
#contact .form-control
	{
		background: transparent;
		border: 1px solid #28a7e9;
		border-radius: 2px;
		box-shadow: none;
		color: #fff;
		margin-top: 6px;
		margin-bottom: 16px;
	}
#contact label
	{
		font-weight: 500;
	}
#contact input
	{
		height: 50px;
	}
#contact input[type="submit"]
	{
		background: #28a7e9;
		font-weight: bold;
		-webkit-transition: all 0.4s ease-in-out;
		        transition: all 0.4s ease-in-out;
	}
#contact input[type="submit"]:hover
	{
		background: transparent;
	}
#contact address
	{
		border-bottom: 1px solid #505050;
		padding-top: 30px;
	}
#contact address .address-title
	{
		font-weight: bold;
		font-size: 20px;
		padding-bottom: 10px;
	}
#contact address span
	{
		display: block;
		padding-bottom: 30px;
	}
#contact address .fa
	{
		border: 1px solid #fff;
		border-radius: 2px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		margin-right: 10px;
		margin-bottom: 10px;
	}
/* end contact */

/* start copyright */
#copyright
	{
		padding: 20px;
	}
#copyright p
	{
		font-weight: 400;
	}
/* end copyright */

/* start social icon */
.social-icon
	{
		position: relative;
		padding: 0;
		margin: 0;
	}
.social-icon h4
	{
		display: inline-block;
		padding-right: 20px;
	}
.social-icon li
	{
		display: inline-block;
		list-style: none;
	}
.social-icon li a
	{
		border: 1px solid #fff;
		border-radius: 2px;
		color: #fff;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		text-decoration: none;
		-webkit-transition: all 0.4s ease-in-out;
		        transition: all 0.4s ease-in-out;
		margin-right: 10px;
	}
.social-icon li a:hover
	{
		background: #28a7e9;
		border-color: transparent;
	}
/* end social icon */

@media only screen and (max-width: 1199px) and (min-width: 992px) {
	#agenda .agenda-thumb .agenda-overlay {
		padding: 0px 8px;
	}
	#sponsors .sponsors-thumb .sponsors-overlay {
		padding: 0px 8px;
	}
}

/* start 980 media quires */
@media only screen and ( max-width: 980px ) {
	#speakers .speakers-wrapper
		{
			margin-top: 40px;
		}
	#agenda .agenda-thumb .agenda-overlay
	{
		background: #28a7e9;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		position: absolute;
		padding: 40px 10px 20px 20px;
		-webkit-transition: all 0.4s ease-in-out;
		        transition: all 0.4s ease-in-out;
	}

	#sponsors .sponsors-thumb .sponsors-overlay
	{
		background: #28a7e9;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		position: absolute;
		padding: 40px 10px 20px 20px;
		-webkit-transition: all 0.4s ease-in-out;
		        transition: all 0.4s ease-in-out;
	}

}
/* end 360 media quires */

/* start 768 media quires */
@media only screen and ( max-width: 767px ) {
	#home
		{
			min-height: 300px;
			padding-top: 80px;
			padding-bottom: 60px;
		}
	#home h1
		{
			font-size: 52px;
		}

	.templatemo-nav {
		position: fixed;
    	top: 0;
	}
	header {
		margin-top: 70px;
	}
	header .social-icon {
		text-align: left;
	}
	.navbar-toggle {
		margin-top: 15px;
	}
	.navbar-collapse {
		max-height: 300px;
		overflow-y: auto;
	}
	.navbar-default .navbar-nav li a {
		height: 45px;
		padding-top: 5px;
		padding-bottom: 5px;
		line-height: 35px;
	}
}
/* end 768 media quires */

/* start 360 media quires */
@media only screen and ( max-width: 360px ) {
	header .social-icon
		{
			text-align: left;
		}
	#home
		{
			min-height: 200px;
			padding-top: 60px;
			padding-bottom: 40px;
		}
	#home h1
		{
			font-size: 32px;
		}

}

/*
*** Body border
*/
#body-border{
	border-top-style: none;
    border-right-style: dotted;
    border-bottom-style: none;
    border-left-style: dotted;
}

/** topaz line **/
.topaz-line{position:relative;color:rgb(0, 121, 215);width:160px;margin:0 auto;font-size:24px;line-height:24px;font-size:1.5rem;line-height:1.5rem;text-align:center;}
.topaz-line.full{width:100%;}
.topaz-line.full:before, .topaz-line.full:after{width:48%;}
.topaz-line:before, .topaz-line:after{content:'';position:absolute;border-bottom:1px solid #d0cdbc;display:block;width:60px;top:11px;}
.topaz-line:before{right:0;}
.topaz-line:after{left:0;}
.topaz-line.quote{margin-top:0px !important;font-size:24px;line-height:24px;font-size:1.5rem;line-height:1.5rem;}
.topaz-line.quote:before, .topaz-line.quote:after{top:13px;}
.topaz-line.hr-left{float:left;left:-6px;position:absolute;top:-9px;}
.topaz-line.hr-left:after{content:'';position:absolute;border-bottom:1px solid #d0cdbc;display:block;width:60px;top:4px;}
.topaz-line.hr-left:before{content:none;top:4px;}
@font-face{font-family:'Dima-Icons';src:url("../fonts/icon-dima/Dima-Icons.eot?plr9d0");src:url("../fonts/icon-dima/Dima-Icons.eot?#iefixplr9d0") format("embedded-opentype"), url("../fonts/icon-dima/Dima-Icons.woff?plr9d0") format("woff"), url("../fonts/icon-dima/Dima-Icons.ttf?plr9d0") format("truetype"), url("../fonts/icon-dima/Dima-Icons.svg?plr9d0#Dima-Icons") format("svg");font-weight:normal;font-style:normal;}
[class^="di-"], [class*=" di-"]{font-family:'Dima-Icons';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.di-bowtie:before{content:"\a100";}
.di-candy:before{content:"\a101";}
.di-cash:before{content:"\a102";}
.di-cloud:before{content:"\a103";}
.di-cloud-accept:before{content:"\a104";}
.di-cloud-delete:before{content:"\a105";}
.di-credit-card-b:before{content:"\a106";}
.di-credit-card-f:before{content:"\a107";}
.di-dish:before{content:"\a108";}
.di-donut:before{content:"\a109";}
.di-glasses:before{content:"\a10a";}
.di-glasses-r:before{content:"\a10b";}
.di-keyboard:before{content:"\a10c";}
.di-laptop:before{content:"\a10d";}
.di-mail:before{content:"\a10e";}
.di-separator:before{content:"\a10f";}
.di-volume:before{content:"\a110";}
.di-arrows:before{content:"\a111";}
.di-arrows-alt:before{content:"\a112";}
.di-audio:before{content:"\a113";}
.di-audio-clef:before{content:"\a114";}
.di-audio-square:before{content:"\a115";}
.di-Backpack:before{content:"\a116";}
.di-backward:before{content:"\a117";}
.di-bag:before{content:"\a118";}
.di-bag-g:before{content:"\a119";}
.di-barbecue:before{content:"\a11a";}
.di-barista:before{content:"\a11b";}
.di-basket:before{content:"\a11c";}
.di-bicycle:before{content:"\a11d";}
.di-biscuit:before{content:"\a11e";}
.di-bomb:before{content:"\a11f";}
.di-book-download:before{content:"\a120";}
.di-book-read:before{content:"\a121";}
.di-bowl:before{content:"\a122";}
.di-box-close:before{content:"\a123";}
.di-box-open:before{content:"\a124";}
.di-browser:before{content:"\a125";}
.di-brush:before{content:"\a126";}
.di-bullhorn:before{content:"\a127";}
.di-burger:before{content:"\a128";}
.di-cake:before{content:"\a129";}
.di-camera:before{content:"\a12a";}
.di-camera-photo:before{content:"\a12b";}
.di-camera-video:before{content:"\a12c";}
.di-candy-cane:before{content:"\a12d";}
.di-candy-o:before{content:"\a12e";}
.di-car-energy:before{content:"\a12f";}
.di-car-g:before{content:"\a130";}
.di-chain:before{content:"\a131";}
.di-chair:before{content:"\a132";}
.di-chef:before{content:"\a133";}
.di-cherry:before{content:"\a134";}
.di-chocolate:before{content:"\a135";}
.di-chocolate-bar:before{content:"\a136";}
.di-chopsticks:before{content:"\a137";}
.di-clock:before{content:"\a138";}
.di-close:before{content:"\a139";}
.di-cloud-download:before{content:"\a13a";}
.di-cloud-upload:before{content:"\a13b";}
.di-cocktail:before{content:"\a13c";}
.di-coffee:before{content:"\a13d";}
.di-cog:before{content:"\a13e";}
.di-cog-r:before{content:"\a13f";}
.di-coin-dollar:before{content:"\a140";}
.di-coin-euro:before{content:"\a141";}
.di-coin-gbp:before{content:"\a142";}
.di-comment:before{content:"\a143";}
.di-comment-heart:before{content:"\a144";}
.di-computer:before{content:"\a145";}
.di-computer-display:before{content:"\a146";}
.di-control:before{content:"\a147";}
.di-cook:before{content:"\a148";}
.di-cookies:before{content:"\a149";}
.di-counter:before{content:"\a14a";}
.di-crop:before{content:"\a14b";}
.di-crown:before{content:"\a14c";}
.di-cup:before{content:"\a14d";}
.di-cupcake:before{content:"\a14e";}
.di-cup-drink:before{content:"\a14f";}
.di-cutlery:before{content:"\a150";}
.di-database:before{content:"\a151";}
.di-design:before{content:"\a152";}
.di-design-cup:before{content:"\a153";}
.di-diamond:before{content:"\a154";}
.di-diving:before{content:"\a155";}
.di-document:before{content:"\a156";}
.di-dollar:before{content:"\a157";}
.di-download:before{content:"\a158";}
.di-drink:before{content:"\a159";}
.di-earbuds:before{content:"\a15a";}
.di-earbuds2:before{content:"\a15b";}
.di-earpiece:before{content:"\a15c";}
.di-earth-g:before{content:"\a15d";}
.di-earth-hot:before{content:"\a15e";}
.di-earthquake:before{content:"\a15f";}
.di-edit:before{content:"\a160";}
.di-energy-g:before{content:"\a161";}
.di-envelope:before{content:"\a162";}
.di-euro:before{content:"\a163";}
.di-eyedropper:before{content:"\a164";}
.di-factory-g:before{content:"\a165";}
.di-flowers:before{content:"\a166";}
.di-folder:before{content:"\a167";}
.di-folder-accept:before{content:"\a168";}
.di-folder-add:before{content:"\a169";}
.di-folder-delete:before{content:"\a16a";}
.di-forest:before{content:"\a16b";}
.di-forward:before{content:"\a16c";}
.di-frame:before{content:"\a16d";}
.di-fuel-station:before{content:"\a16e";}
.di-garbage:before{content:"\a16f";}
.di-garbage-recycle:before{content:"\a170";}
.di-gbp:before{content:"\a171";}
.di-gift:before{content:"\a172";}
.di-globe:before{content:"\a173";}
.di-green-energy:before{content:"\a174";}
.di-grid:before{content:"\a175";}
.di-gum:before{content:"\a176";}
.di-handle:before{content:"\a177";}
.di-hat:before{content:"\a178";}
.di-headphone:before{content:"\a179";}
.di-headset:before{content:"\a17a";}
.di-heart:before{content:"\a17b";}
.di-home:before{content:"\a17c";}
.di-home-g:before{content:"\a17d";}
.di-hotdog:before{content:"\a17e";}
.di-ice-cream:before{content:"\a17f";}
.di-icecream-sandwich:before{content:"\a180";}
.di-idea-g:before{content:"\a181";}
.di-ink:before{content:"\a182";}
.di-jelly:before{content:"\a183";}
.di-key:before{content:"\a184";}
.di-knife:before{content:"\a185";}
.di-laptop-p:before{content:"\a186";}
.di-leaf:before{content:"\a187";}
.di-lock:before{content:"\a188";}
.di-lock-r:before{content:"\a189";}
.di-lollipop:before{content:"\a18a";}
.di-magic:before{content:"\a18b";}
.di-magnet:before{content:"\a18c";}
.di-map-marker:before{content:"\a18d";}
.di-map-marker-p:before{content:"\a18e";}
.di-marker:before{content:"\a18f";}
.di-mic:before{content:"\a190";}
.di-mouse:before{content:"\a191";}
.di-mp3:before{content:"\a192";}
.di-muffin:before{content:"\a193";}
.di-mug:before{content:"\a194";}
.di-mustache:before{content:"\a195";}
.di-network:before{content:"\a196";}
.di-notebook:before{content:"\a197";}
.di-nuclear:before{content:"\a198";}
.di-paint-bucket:before{content:"\a199";}
.di-pallete:before{content:"\a19a";}
.di-pause:before{content:"\a19b";}
.di-pause-circle:before{content:"\a19c";}
.di-pen:before{content:"\a19d";}
.di-pencil:before{content:"\a19e";}
.di-pen-felt:before{content:"\a19f";}
.di-pen-head:before{content:"\a1a0";}
.di-pen-head-r:before{content:"\a1a1";}
.di-photos:before{content:"\a1a2";}
.di-picture:before{content:"\a1a3";}
.di-pictures:before{content:"\a1a4";}
.di-pie:before{content:"\a1a5";}
.di-play:before{content:"\a1a6";}
.di-play-cd:before{content:"\a1a7";}
.di-play-circle:before{content:"\a1a8";}
.di-popcorn:before{content:"\a1a9";}
.di-popsicle:before{content:"\a1aa";}
.di-popsicle-s:before{content:"\a1ab";}
.di-radio:before{content:"\a1ac";}
.di-random:before{content:"\a1ad";}
.di-receipt:before{content:"\a1ae";}
.di-remote-control:before{content:"\a1af";}
.di-replay:before{content:"\a1b0";}
.di-ring:before{content:"\a1b1";}
.di-roller:before{content:"\a1b2";}
.di-ruler:before{content:"\a1b3";}
.di-screen:before{content:"\a1b4";}
.di-screen-remote-control:before{content:"\a1b5";}
.di-separator-s:before{content:"\a1b6";}
.di-shirt:before{content:"\a1b7";}
.di-shirt-r:before{content:"\a1b8";}
.di-shoes:before{content:"\a1b9";}
.di-shop:before{content:"\a1ba";}
.di-shopping-bag-b:before{content:"\a1bb";}
.di-shopping-bag-p:before{content:"\a1bc";}
.di-shopping-bag-recycle:before{content:"\a1bd";}
.di-shopping-bag-s:before{content:"\a1be";}
.di-shopping-cart-cancel:before{content:"\a1bf";}
.di-shopping-cart-down:before{content:"\a1c0";}
.di-shopping-cart-up:before{content:"\a1c1";}
.di-shopping-cart:before{content:"\a1c2";}
.di-skull:before{content:"\a1c3";}
.di-slice:before{content:"\a1c4";}
.di-smartphone:before{content:"\a1c5";}
.di-smile:before{content:"\a1c6";}
.di-solar-energy:before{content:"\a1c7";}
.di-spigot:before{content:"\a1c8";}
.di-spike:before{content:"\a1c9";}
.di-spray:before{content:"\a1ca";}
.di-stamp:before{content:"\a1cb";}
.di-sticker:before{content:"\a1cc";}
.di-sticker-recycle:before{content:"\a1cd";}
.di-strawberry:before{content:"\a1ce";}
.di-sucker:before{content:"\a1cf";}
.di-suitcase:before{content:"\a1d0";}
.di-sun:before{content:"\a1d1";}
.di-Sweets:before{content:"\a1d2";}
.di-sync:before{content:"\a1d3";}
.di-syringe:before{content:"\a1d4";}
.di-tablet:before{content:"\a1d5";}
.di-target:before{content:"\a1d6";}
.di-tea:before{content:"\a1d7";}
.di-tie:before{content:"\a1d8";}
.di-truck:before{content:"\a1d9";}
.di-truck-express:before{content:"\a1da";}
.di-truck-recycle:before{content:"\a1db";}
.di-turbine:before{content:"\a1dc";}
.di-turbine-g:before{content:"\a1dd";}
.di-umbrella:before{content:"\a1de";}
.di-unlock:before{content:"\a1df";}
.di-upload:before{content:"\a1e0";}
.di-user:before{content:"\a1e1";}
.di-user-r:before{content:"\a1e2";}
.di-user-r-accept-99:before{content:"\a1e3";}
.di-user-r-accept-100:before{content:"\a1e4";}
.di-user-r-delete:before{content:"\a1e5";}
.di-user-talk:before{content:"\a1e6";}
.di-wafers:before{content:"\a1e7";}
.di-wallet:before{content:"\a1e8";}
.di-wallet-empty:before{content:"\a1e9";}
.di-warehouse:before{content:"\a1ea";}
.di-watch:before{content:"\a1eb";}
.di-whale:before{content:"\a1ec";}
.di-wrench:before{content:"\a1ed";}
.di-wrench-head:before{content:"\a1ee";}
.di-wrenchs:before{content:"\a1ef";}

.atcb-link{
            color: white !important;
            padding: 10px !important;
		    font-size: 16px !important;
		    text-align: center !important;
		    text-decoration: none !important;
        }
ul.atcb-list{
    padding-left: 1em;
	width: 100%;
}
/* end 360 media quires */

/*** Event Registration Form  ****/
#eventregistration label{
	font-size: 11px;
	font-weight: 200;
}

#eventregistration label.required:after {
    content: '*';
    color: rgb(255, 0, 0);
    margin-left: 5px;
}

#eventregistration .btn-primary{
	color: #fff;
    background-color: #134a69;
    border-color: #134a69;
    border-radius: 0px;
}

.eventregistration .btn-primary{
	color: #fff;
    background-color: #134a69;
    border-color: #134a69;
    border-radius: 0px;
}

#eventregistration legend.legend-style{
	color: white;
    margin-top: 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    border-bottom: none;
    margin-bottom: 1em;
}

em.error3{
	color: red;
}

@media print {
  .no-print {
    display: none;
  }
  .left-side,
  .header,
  .content-header {
    display: none;
  }
  .right-side {
    margin: 0;
  }
}

@media print {
  .invoice {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
  }
  .box{
  	overflow: hidden !important !important;
  }
  .invoice-col {
    float: left;
    width: 33.3333333%;
  }
  .table-responsive {
    overflow: auto;
  }
  .table-responsive > .table tr th,
  .table-responsive > .table tr td {
    white-space: normal!important;
  }
}

/*** Create Update Form  ****/
#createupdate label{
    font-weight: 400;
    color: black;
}

#createupdate label.required:after {
    content: '*';
    color: rgb(255, 0, 0);
    margin-left: 5px;
}

#createupdate .btn-primary{
    color: #fff;
    background-color: #134a69;
    border-color: #134a69;
    border-radius: 0px;
}

.createupdate .btn-primary{
    color: #fff;
    background-color: #134a69;
    border-color: #134a69;
    border-radius: 0px;
}

#createupdate legend.legend-style{
    color: white;
    margin-top: 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-bottom: none;
    margin-bottom: 1em;
}

/*** Refund  ****/
#refund label{
    font-weight: 400;
    color: black;
}

#refund label.required:after {
    content: '*';
    color: rgb(255, 0, 0);
    margin-left: 5px;
}

#refund .btn-primary{
    color: #fff;
    background-color: #134a69;
    border-color: #134a69;
    border-radius: 0px;
}

.refund .btn-primary{
    color: #fff;
    background-color: #134a69;
    border-color: #134a69;
    border-radius: 0px;
}

#refund legend.legend-style{
    color: white;
    margin-top: 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-bottom: none;
    margin-bottom: 1em;
}

/*** Bring a Guest  ****/
#bringguest label{
    font-weight: 400;
    color: black;
    font-size: 12px;
}

#bringguest label.required:after {
    content: '*';
    color: rgb(255, 0, 0);
    margin-left: 5px;
}

#bringguest .btn-primary{
    color: #fff;
    background-color: #134a69;
    border-color: #134a69;
    border-radius: 0px;
}

.bringguest .btn-primary{
    color: #fff;
    background-color: #134a69;
    border-color: #134a69;
    border-radius: 0px;
}

#bringguest legend.legend-style{
    color: white;
    margin-top: 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-bottom: none;
    margin-bottom: 1em;
}

/***  ****/
 label{
    font-weight: 400;
    color: black;
    font-size: 12px;
}

 label.required:after {
    content: '*';
    color: rgb(255, 0, 0);
    margin-left: 5px;
}

 .btn-primary{
    color: #fff;
    background-color: #134a69;
    border-color: #134a69;
    border-radius: 0px;
}

 .btn-primary{
    color: #fff;
    background-color: #134a69;
    border-color: #134a69;
    border-radius: 0px;
}

 legend.legend-style{
    margin-top: 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border-bottom: none;
    margin-bottom: 1em;
    font-weight: 500;
}

.popover {
  z-index: 0;
  max-width: 600px;
}

.popover-content {
	overflow-y:auto;
	height:300px
}

.dima-author-box {
  margin-bottom: 30px; }
  .dima-author-box .dima-about-image {
    position: relative;
    margin-right: 30px;
    margin-top: 0px;
    -moz-box-shadow: 0 0px 0 2px #d0cdbc;
    -webkit-box-shadow: 0 0px 0 2px #d0cdbc;
    box-shadow: 0 0px 0 2px #d0cdbc; }
    .dima-author-box .dima-about-image img {
      width: 120px;
      height: 120px; }
  .dima-author-box .dima-author-info {
    overflow: hidden; }
    .dima-author-box .dima-author-info .dima-author-name {
      text-transform: uppercase; }
    .dima-author-box .dima-author-info p {
      margin-bottom: 10px; }

@media only screen and (max-width: 767px) {
  	.dima-author-box .dima-about-image {
	    margin-right: 20px;
	    margin-top: 0px;
	    margin-bottom: 10px; }
	.dima-author-box .dima-about-image img {
	    width: 60px;
	    height: 60px; }
  	.dima-author-box .dima-author-info {
    	overflow: initial; } 
   	div .event-banner-img-responsive {
		margin-top: 7em;
	}
}