html, body {
  font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #33b5e5;
}
.top img {
  width: 100%;
  max-width: 50px;
  height: auto;
  max-height: 50px;
}

#top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: #248ce3;
}

.navbarContainer {
  max-width: 1000px;
  margin: auto;
}
.navbar, .navbar a {
  margin-top: 10px;
}

.notification {
  background-color: #fff;
}
.navbar-menu {
  max-height: 100%;
  margin: auto;
}


#resizeHeader {
  width: auto;
  height: auto;
  max-width: 150px;
  max-height: 150px;
}

.header-text {
  font-weight: bold;
  font-size: 2em;
  color: #248ce3;
}
.header-content {
  margin-top: 20px;
  width: auto;
  max-width: 500px;
}
.container .button {
  margin-top: 50px;
}

header.masthead {
  padding-bottom: calc(10rem - 56px);
  background: url("..") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.columns {
  margin-top: 30px;
}
.header-text{
  line-height: 40px;
}
.column .button {
  margin-top: 40px;
}
.column img {
  width: 450px;
  height: auto;
  max-height: 1000px;
  padding: 0;
  margin: auto;
  border-collapse: collapse;
}




.about {
  background-color: #248ce3;
}
.about h1 {
  font-weight: bold;
  font-size: 5em;
  color: #ffffff;
}
.about-content {
  color: #ffffff;
  max-width: 500px;
  margin-bottom: 20px;
}
.about img {
  width: 350px;
  height: auto;
}

.products {
  margin-top: 30px;
  margin-bottom: 30px;
}

.product-header {
  font-weight: bold;
  font-size: 5em;
  text-align: right;
  color: #248ce3;
}
.products h1 {
  font-weight: bold;
  font-size: 3em;
  text-align: right;
}
.poc-content {
  text-align: right;
  margin-left: 100px;
}
.products img {
  width: 350px;
  height: auto;
}

footer {
  color: #ffffff;
  background-color: gray;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}