<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
function openDialog(url, title) {
    $("#dialog").dialog({
        height: "auto",
        minHeight: 50,
        width: 600,
        modal: false,
        position: {my: "left top", at: "left top", of: $(this)},
        draggable: true,
        title: title
    });
    $("#dialog").load(url);
    $(".ui-widget-overlay").click(function() {
        $("#dialog").dialog('close');
    });
}
$(document).ready(function(){
    $(".opendialog").click(function() {
        openDialog(this.href, this.title);
        return false;
    });
    $(".closedialog").click(function() {
        $("#dialog").dialog('close');
    });
})
</script>
